Repository theforeman/foreman-documentation, pull requests merged in 2021-11, with the labels that each got.

#802 Updated heading title
  guides/doc-Upgrading_and_Updating/master.adoc
  guides/doc-Upgrading_and_Updating/topics/preparing_to_migrate_pulp_content.adoc
  guides/doc-Upgrading_and_Updating/topics/upgrading_satellite_server_parent.adoc
  guides/doc-Upgrading_and_Updating/topics/upgrading_satellite_server_prerequisites.adoc
Labels: cherry pick, ready to merge

#794 Removed information from Satellite docs which is no longer supported
  guides/common/modules/con_provisioning-overview.adoc
  guides/doc-Provisioning_Guide/master.adoc
  guides/doc-Provisioning_Guide/topics/Bare_Metal.adoc
  guides/doc-Provisioning_Guide/topics/configuring-the-discovery-service.adoc
  guides/doc-Provisioning_Guide/topics/proc_configuring_iPXE_to_reduce_provisioning_times.adoc
  guides/doc-Provisioning_Guide/topics/proc_creating-hosts-from-discovered-hosts.adoc
  guides/doc-Provisioning_Guide/topics/proc_using-an-imagebuilder-image-for-provisioning.adoc
Labels: cherry pick, ready to merge

#814 Added statement that Pulp migration increases upgrade time
  guides/doc-Upgrading_and_Updating/topics/upgrading_process_overview.adoc
Labels: cherry pick, ready to merge

#761 Reformatted Port Requirement Tables
  guides/common/modules/ref_capsule-ports-and-firewalls-requirements.adoc
  guides/common/modules/ref_ports-and-firewall-requirements.adoc
Labels: cherry pick

#846 BZ 1996571: Note the default to destroy associated VM on host delete
  guides/common/modules/con_provisioning-workflow.adoc
Labels: technical review done

#843 Do not split sentences with code blocks
  guides/doc-Upgrading_and_Updating/topics/upgrading_a_disconnected_satellite.adoc
Labels: cherry pick
