Repository theforeman/foreman-documentation, pull requests merged in 2023-09, with the labels that each got.

#2405 Update description for Organization admin role
  guides/common/modules/ref_predefined-roles.adoc
Labels: technical review done, style review done

#2367 Document permissions required to provision Amazon EC2
  guides/common/modules/proc_adding-an-amazon-ec2-connection-to-server.adoc
Labels: style review done, Needs tech review

#2419 Remove unnecessary section
  guides/common/assembly_preparing-environment-for-capsule-installation.adoc
  guides/common/assembly_preparing-environment-for-installation.adoc
  guides/common/modules/proc_enabling-client-connections-to-satellite.adoc
  guides/common/modules/proc_enabling-connections-to-capsule.adoc
  guides/common/modules/snip_verify-firewall-settings.adoc
Labels: Needs re-review

#2374 Add Updating Guide to Upstream
  web/content/js/versions.js
Labels: Needs re-review

#2426 Replace Library with repository
  guides/common/modules/proc_importing-a-repository.adoc
Labels: style review done

#2292 Update permissions a non-admin user requires to provision hosts
  guides/common/modules/con_provisioning-virtual-machines-on-kubevirt.adoc
  guides/common/modules/con_provisioning-virtual-machines-on-kvm.adoc
  guides/common/modules/ref_permissions-required-to-provision-hosts.adoc
  guides/doc-Provisioning_Hosts/master.adoc
Labels: style review done

#2435 Change container repo to docker repo
  guides/common/modules/con_composite-content-views-overview.adoc
Labels: tech review done, Needs tech review

#2444 Add step for selecting activation keys
  guides/common/modules/snip_host-registration-steps.adoc
Labels: tech review done, style review done

#2445 Replace Subscription Manifest to lower case
  guides/common/modules/con_managing-red-hat-subscriptions.adoc
  guides/common/modules/proc_adding-red-hat-subscriptions-to-subscription-allocations.adoc
  guides/common/modules/proc_attaching-red-hat-subscriptions-to-content-hosts.adoc
  guides/common/modules/proc_importing-a-subscription-manifest-into-foreman-server.adoc
  guides/common/modules/proc_locating-a-red-hat-subscription.adoc
  guides/common/modules/proc_removing-red-hat-subscriptions-and-subscription-allocations.adoc
Labels: Needs style review

#2454 Update cmd to deploy a certificate on SmartProxy
  guides/common/modules/proc_renewing-a-custom-ssl-certificate-on-smart-proxy.adoc
Labels: Needs tech review

#2440 Fix xref rendering for Satellite
  guides/common/modules/con_transport-modes-for-remote-execution.adoc
Labels: Needs style review

#2441 Configure SubMan to connect via HTTP proxy for registration
  guides/common/modules/proc_registering-a-host.adoc
Labels: style review done

#2401 Improve VMware cloud-init/userdata section
  guides/common/modules/proc_using-vmware-cloud-init-and-userdata-templates-for-provisioning.adoc
Labels: cherry pick, style review done

#2465 Update preupgrade leapp procedure to the new version of the job form
  guides/common/modules/proc_upgrading-hosts-to-next-major-rhel-release.adoc
Labels: Needs style review

#2464 Complete list of FDI kernel options
  guides/common/modules/con_unattended-use-customization-and-image-remastering.adoc
Labels: Needs style review

#2473 Be more specific about creating a yum config file
  guides/common/modules/proc_updating-disconnected-server.adoc
Labels: Needs style review

#2477 Narrow down the required perl packages
  guides/common/modules/proc_using-vmware-cloud-init-and-userdata-templates-for-provisioning.adoc
Labels: Needs style review

#2480 Add links in Managing Container Images
  guides/common/modules/con_managing-container-images.adoc
Labels: Needs tech review, Needs style review
