Repository theforeman/foreman-documentation, pull requests merged in 2023-11, with the labels that each got.

#2580 Ignore Satellite 6.14 links
  guides/common/linkchecker.ini
Labels: Not yet reviewed

#2585 Remove the time span setting
  guides/common/modules/ref_advanced-settings-in-the-job-wizard.adoc
Labels: Not yet reviewed

#2598 Update module on Email notification types
  guides/common/assembly_configuring-email-notifications.adoc
  guides/common/modules/con_configuring-email-notifications.adoc
  guides/common/modules/ref_email-notification-types.adoc
Labels: Needs style review

#2601 'Append domain names' replaced by 'Display FQDN'
  guides/common/modules/ref_general-settings-information.adoc
Labels: tech review done, style review done

#2606 Rename Conversions thingy
  guides/common/attributes-satellite.adoc
  guides/common/attributes-titles.adoc
Labels: Not yet reviewed

#2604 Improve Convert2RHEL [priority]
  guides/common/modules/con_converting-a-host-to-rhel.adoc
Labels: Not yet reviewed

#2600 New email notifications for failed bg actions
  guides/common/modules/ref_email-notification-types.adoc
Labels: tech review done, Needs style review

#2605 Add pre-conversion check in Convert2RHEL
  guides/common/modules/con_converting-a-host-to-rhel.adoc
Labels: tech review done, Needs style review

#2595 Document keyboard shortcuts
  guides/common/assembly_searching-and-bookmarking.adoc
  guides/common/modules/con_using-keyboard-shortcuts.adoc
Labels: tech review done, Needs style review
