Repository theforeman/foreman-documentation, pull requests merged in 2023-10, with the labels that each got.

#2483 Be more specific about creating a yum config file
  guides/doc-Upgrading_and_Updating/topics/updating_satellite_server_to_next_minor_version.adoc
Labels: style review done

#2430 Add API procedures to Managing Packages
  guides/common/modules/proc_installing-packages-on-a-host.adoc
  guides/common/modules/proc_removing-packages-from-a-host.adoc
  guides/common/modules/proc_upgrading-packages-on-a-host.adoc
  guides/common/modules/snip_managing-packages-api.adoc
Labels: Needs style review

#2458 Rework procedure to run Salt
  guides/common/modules/proc_running-salt.adoc
  guides/common/modules/proc_viewing-salt-reports.adoc
Labels: Needs style review

#2450 Move module into CLI procedure
  guides/common/assembly_managing-content-views.adoc
  guides/common/modules/proc_promoting-a-content-view-across-all-life-cycle-environments-within-an-organization.adoc
  guides/common/modules/proc_promoting-a-content-view.adoc
Labels: Needs tech review, Needs style review

#2484 Add steps for adding repo manually when importing container images
  guides/common/modules/proc_importing-container-images.adoc
Labels: tech review done

#2476 Allow exporting DEB content
  guides/common/modules/proc_exporting-a-content-view-version.adoc
  guides/common/modules/proc_exporting-a-repository-incrementally-in-a-syncable-format.adoc
  guides/common/modules/proc_exporting-a-repository-incrementally.adoc
  guides/common/modules/proc_exporting-a-repository.adoc
  guides/common/modules/proc_importing-a-content-view-version-from-a-web-server.adoc
  guides/common/modules/proc_importing-a-content-view-version.adoc
  guides/common/modules/proc_importing-a-repository-from-a-web-server.adoc
  guides/common/modules/proc_importing-a-repository.adoc
  guides/common/modules/proc_importing-into-the-library-environment-from-a-web-server.adoc
  guides/common/modules/proc_importing-into-the-library-environment.adoc
  guides/common/modules/proc_synchronizing-a-single-repository.adoc
  guides/common/modules/proc_using-upstream-server-as-a-content-store.adoc
  guides/common/modules/proc_using-upstream-server-to-sync-content-view-versions.adoc
Labels: Needs style review

#2498 Update diagram for isolated topology
  guides/doc-Planning_for_Project/images/satellite_6_topology_isolated.png
Labels: Not yet reviewed

#2496 Add repositories-setup in whitelist while upgrading
  guides/common/modules/proc_updating-disconnected-server.adoc
Labels: cherry pick, Needs tech review

#2507 Add repositories-setup in whitelist while upgrading
  guides/doc-Upgrading_and_Updating/topics/updating_satellite_server_to_next_minor_version.adoc
Labels: cherry pick, tech review done, style review done

#2509 Replace outdated bind package for EL8
  guides/common/modules/proc_configuring-an-external-dhcp-server.adoc
Labels: Needs tech review

#2515 Distinguish bind packages for EL8 and EL7
  guides/common/modules/proc_configuring-an-external-dhcp-server.adoc
Labels: cherry pick

#2414 Restructure Synchronizing Template Repositories
  guides/common/assembly_synchronizing-template-repositories.adoc
  guides/common/modules/con_using-repository-sources.adoc
  guides/common/modules/proc_advanced-git-configuration.adoc
  guides/common/modules/proc_exporting-templates.adoc
  guides/common/modules/proc_importing-templates.adoc
  guides/common/modules/proc_synchronizing-templates-using-the-api.adoc
  guides/common/modules/proc_synchronizing-templates-with-a-local-directory-using-the-api.adoc
  guides/common/modules/proc_synchronizing-templates-with-a-local-directory.adoc
  guides/common/modules/proc_synchronizing-templates-with-an-existing-repository.adoc
Labels: Needs style review

#2500 Isolated topology diagram: Remove 5000 between capsule and server
  guides/doc-Planning_for_Project/images/topology-isolated-satellite.png
Labels: tech review done, style review done

#2527 Fix 3 4 create hosts
  guides/common/modules/proc_provisioning-ubuntu-autoinstall-through-smart-proxies.adoc
  guides/common/modules/snip_prerequisite-configured-smart-proxy-registration-provisioning.adoc
Labels: Not yet reviewed

#2524 Fix URL schemes in VMware cloud-init
  guides/common/modules/proc_using-vmware-cloud-init-and-userdata-templates-for-provisioning.adoc
Labels: tech review done, style review done

#2487 Further enhance creating the custom SSL certs
  guides/common/assembly_configuring-capsule-custom-server-certificate.adoc
  guides/common/assembly_configuring-satellite-custom-server-certificate.adoc
  guides/common/modules/proc_configuring-project-with-an-alternate-cname.adoc
  guides/common/modules/proc_creating-a-custom-ssl-certificate.adoc
Labels: style review done, Needs tech review

#2502 Add automatic hosts deletion in Insights Inventory
  guides/common/modules/proc_using-red-hat-insights.adoc
Labels: cherry pick, tech review done, style review done

#2544 Isolated topology diagram: Multiple updates
  guides/doc-Planning_for_Project/images/satellite_6_topology_isolated.png
Labels: tech review done, style review done

#2505 Dependency solving backport
  guides/common/modules/con_resolving-package-dependencies.adoc
  guides/common/modules/proc_adding-errata-to-an-incremental-content-view.adoc
Labels: tech review done, style review done

#2510 Document importing ansible collections in the content guide
  guides/common/assembly_managing-ansible-content.adoc
  guides/common/modules/con_managing-ansible-content.adoc
  guides/doc-Managing_Content/master.adoc
Labels: tech review done, style review done

#2547 Add conversions appliance guide info
  guides/common/attributes-satellite.adoc
  guides/common/attributes-titles.adoc
Labels: Not yet reviewed

#2546 pgsql on smartproxy can grow significantly
  guides/common/modules/ref_capsule-storage-requirements.adoc
Labels: tech review done, style review done

#2554 PostgreSQL on smartproxy can grow significantly
  guides/common/modules/ref_capsule-storage-requirements.adoc
Labels: tech review done

#2556 Enlarge PostgreSQL database on Smart Proxy Server
  guides/common/modules/ref_capsule-storage-requirements.adoc
Labels: tech review done

#2481 Updates for Katello 4.10.0 - Release notes
  guides/doc-Release_Notes/master.adoc
  guides/doc-Release_Notes/topics/katello-4.10.0.adoc
  guides/doc-Release_Notes/topics/katello-contributors.adoc
  guides/doc-Release_Notes/topics/katello.adoc
Labels: Needs re-review
