Repository theforeman/foreman-documentation, pull requests merged in 2024-09, with the labels that each got.

#3069 Add diagrams of provisioning methods
  guides/common/images/provisioning-image-cloudinit.png
  guides/common/images/provisioning-image-finish.png
  guides/common/images/provisioning-installer-bootdisk-fullhost.png
  guides/common/images/provisioning-installer-bootdisk-subnet.png
  guides/common/images/provisioning-installer-httpboot.png
  guides/common/images/provisioning-installer-pxeboot.png
  guides/common/images/provisioning-template-vmware-userdata.png
  guides/common/images/user-data-sequence-satellite.txt
  guides/image-sources/foreman.pstyle
  guides/image-sources/prov-create-host-pxe.iuml
  guides/image-sources/prov-first-local-boot-hdd.iuml
  guides/image-sources/prov-first-local-boot-pxe.iuml
  guides/image-sources/prov-initial-configuration.iuml
  guides/image-sources/prov-installation-media.iuml
  guides/image-sources/provisioning-image-cloudinit.plantuml
  guides/image-sources/provisioning-image-finish.plantuml
  guides/image-sources/provisioning-installer-bootdisk-fullhost.plantuml
  guides/image-sources/provisioning-installer-bootdisk-subnet.plantuml
  guides/image-sources/provisioning-installer-httpboot.plantuml
  guides/image-sources/provisioning-installer-pxeboot.plantuml
  guides/image-sources/provisioning-template-vmware-userdata.plantuml
  guides/image-sources/puppet-run.iuml
Labels: Needs tech review

#3243 Manually set global Git configuration in proc to sync templates with an existing repo
  guides/common/modules/proc_synchronizing-templates-with-an-existing-repository.adoc
Labels: tech review done, style review done

#3256 Revert "Add diagrams of provisioning methods"
  guides/common/images/provisioning-image-cloudinit.png
  guides/common/images/provisioning-image-finish.png
  guides/common/images/provisioning-installer-bootdisk-fullhost.png
  guides/common/images/provisioning-installer-bootdisk-subnet.png
  guides/common/images/provisioning-installer-httpboot.png
  guides/common/images/provisioning-installer-pxeboot.png
  guides/common/images/provisioning-template-vmware-userdata.png
  guides/common/images/user-data-sequence-satellite.txt
  guides/image-sources/foreman.pstyle
  guides/image-sources/prov-create-host-pxe.iuml
  guides/image-sources/prov-first-local-boot-hdd.iuml
  guides/image-sources/prov-first-local-boot-pxe.iuml
  guides/image-sources/prov-initial-configuration.iuml
  guides/image-sources/prov-installation-media.iuml
  guides/image-sources/provisioning-image-cloudinit.plantuml
  guides/image-sources/provisioning-image-finish.plantuml
  guides/image-sources/provisioning-installer-bootdisk-fullhost.plantuml
  guides/image-sources/provisioning-installer-bootdisk-subnet.plantuml
  guides/image-sources/provisioning-installer-httpboot.plantuml
  guides/image-sources/provisioning-installer-pxeboot.plantuml
  guides/image-sources/provisioning-template-vmware-userdata.plantuml
  guides/image-sources/puppet-run.iuml
Labels: Not yet reviewed

#3258 Add permission required for email notifications
  guides/common/modules/proc_configuring-email-notification-preferences.adoc
Labels: tech review done, style review done

#3193 Refs #37601 - Refresh/deploy CA cert on hosts
  guides/common/assembly_refreshing-the-self-signed-ca-certificate-on-hosts.adoc
  guides/common/assembly_renewing-certificates.adoc
  guides/common/modules/con_refreshing-the-self-signed-ca-certificate-on-hosts.adoc
  guides/common/modules/con_renewing-certificates.adoc
  guides/common/modules/con_renewing-the-custom-ssl-certificate.adoc
  guides/common/modules/proc_deploying-the-ca-certificate-on-a-host-by-using-ansible-rex.adoc
  guides/common/modules/proc_deploying-the-ca-certificate-on-a-host-by-using-script-rex.adoc
  guides/common/modules/proc_deploying-the-ca-certificate-on-a-host-manually.adoc
  guides/common/modules/proc_planning-for-self-signed-ca-certificate-renewal.adoc
  guides/common/modules/proc_renewing-a-custom-ssl-certificate-on-server.adoc
  guides/common/modules/proc_renewing-a-custom-ssl-certificate-on-smart-proxy.adoc
  guides/common/modules/snip_prerequisites-deploying-ca-cert-rex.adoc
  guides/common/modules/snip_replace-fqdn-projectserver.adoc
  guides/common/modules/snip_verification-ca-set-correctly.adoc
  guides/doc-Administering_Project/master.adoc
  guides/doc-Managing_Hosts/master.adoc
Labels: style review done

#3280 Remove extra space
  guides/common/modules/proc_exporting-a-repository.adoc
Labels: tech review done, style review done

#3267 Add API guide to navigation
  web/releases/3.12.json
  web/releases/nightly.json
Labels: tech review done, style review done

#3254 Remove qpid ports
  guides/common/assembly_preparing-environment-for-capsule-installation.adoc
  guides/common/modules/proc_enabling-client-connections-to-satellite.adoc
  guides/common/modules/proc_enabling-connections-from-capsule-to-satellite.adoc
  guides/common/modules/proc_enabling-connections-to-capsule.adoc
Labels: tech review done, style review done

#3287 Foreman expects LDAP server to follow RFC2307
  guides/common/modules/con_using-ldap.adoc
Labels: tech review done, style review done

#3282 Prevent asterisk substitution in a code block
  guides/common/modules/proc_logging-in-to-the-projectwebui-with-freeipa-credentials-in-chrome.adoc
Labels: tech review done, style review done

#3283 Prevent asterisk substitution in a code block (3.10 and earlier)
  guides/common/modules/proc_using-freeipa-credentials-to-log-in-to-the-ProjectWebUI-with-a-Chrome-browser.adoc
Labels: tech review done, style review done

#3222 Ext auth methods review
  guides/common/assembly_configuring-external-authentication-and-enabling-single-sign-on-and-two-factor-authentication.adoc
  guides/common/assembly_configuring-kerberos-single-sign-on-with-freeipa-in-project.adoc
  guides/common/assembly_configuring-single-sign-on-and-two-factor-authentication-with-keycloak-quarkus-in-project.adoc
  guides/common/modules/con_configuring-an-ldap-server-as-an-external-identity-provider-for-project.adoc
  guides/common/modules/con_configuring-external-authentication-and-enabling-single-sign-on-and-two-factor-authentication.adoc
  guides/common/modules/con_configuring-external-authentication.adoc
  guides/common/modules/con_configuring-kerberos-single-sign-on-with-freeipa-in-project.adoc
  guides/common/modules/con_configuring-keycloak-wildfly-authentication-for-project.adoc
  guides/common/modules/con_configuring-single-sign-on-and-two-factor-authentication-with-keycloak-quarkus-in-project.adoc
  guides/common/modules/proc_logging-in-to-the-projectwebui-with-freeipa-credentials-in-chrome.adoc
  guides/common/modules/proc_logging-in-to-the-projectwebui-with-freeipa-credentials-in-mozilla-firefox.adoc
  guides/doc-Installing_Server/master.adoc
Labels: tech review done, style review done

#3252 Filter repository by Status on Activation Key page
  guides/common/modules/proc_enabling-and-disabling-repositories-on-activation-key.adoc
Labels: tech review done, style review done

#3290 Remove qpid ports
  guides/common/assembly_preparing-environment-for-capsule-installation.adoc
  guides/common/modules/proc_enabling-client-connections-to-satellite.adoc
  guides/common/modules/proc_enabling-connections-from-capsule-to-satellite.adoc
  guides/common/modules/proc_enabling-connections-to-capsule.adoc
Labels: cherry pick, tech review done, style review done

#3291 Remove qpid ports
  guides/common/assembly_preparing-environment-for-capsule-installation.adoc
  guides/common/modules/proc_enabling-client-connections-to-satellite.adoc
  guides/common/modules/proc_enabling-connections-from-capsule-to-satellite.adoc
  guides/common/modules/proc_enabling-connections-to-capsule.adoc
Labels: cherry pick, tech review done, style review done

#3292 Remove qpid ports
  guides/common/assembly_preparing-environment-for-capsule-installation.adoc
  guides/common/modules/proc_enabling-client-connections-to-satellite.adoc
  guides/common/modules/proc_enabling-connections-from-capsule-to-satellite.adoc
  guides/common/modules/proc_enabling-connections-to-capsule.adoc
Labels: cherry pick, tech review done, style review done

#3268 Remove qpid port from load balancing diagram
  guides/common/images/load-balancing-architecture-orcharhino.svg
  guides/common/images/load-balancing-architecture.png
  guides/image-sources/load-balancing-architecture.drawio
Labels: tech review done

#3295 Move assembly on managing the lifecycle of a host enrolled with FreeIPA
  guides/common/assembly_configuring-external-authentication-and-enabling-single-sign-on-and-two-factor-authentication.adoc
  guides/common/assembly_configuring-external-services.adoc
Labels: tech review done, style review done

#3300 Deprecate Ubuntu 20.04 in 3.12
  guides/doc-Release_Notes/topics/foreman.adoc
Labels: style review done

#3265 Require review labels before merging
  CONTRIBUTING.md
  guides/README.md
Labels: tech review done, style review done

#3263 Avoid Red Hat Red Hat in the Satellite client repository name
  guides/common/modules/con_importing-the-project-client-name-repository.adoc
Labels: tech review done, style review done

#3296 Avoid RH RH duplicity in Client repo name
  guides/common/modules/proc_synchronizing-the-new-repositories.adoc
Labels: tech review done, style review done

#3310 Update release notes for 3.12.0 GA
  guides/doc-Release_Notes/topics/foreman-3.12.0.adoc
Labels: tech review done, style review done

#3294 Split off external authentication into a separate guide
  guides/common/assembly_accessing-server.adoc
  guides/common/attributes-base.adoc
  guides/common/attributes-satellite.adoc
  guides/common/attributes-titles.adoc
  guides/common/modules/con_accessing-server.adoc
  guides/common/modules/con_configuring-external-authentication-and-enabling-single-sign-on-and-two-factor-authentication.adoc
  guides/common/modules/con_web-ui-overview.adoc
  guides/common/modules/proc_changing-the-password.adoc
  guides/common/modules/proc_logging-in-to-the-projectwebui.adoc
  guides/common/modules/proc_setting-a-custom-message-on-the-login-page.adoc
  guides/common/modules/proc_setting-a-custom-message-on-the-projectwebui-login-page.adoc
  guides/doc-Administering_Project/master.adoc
  guides/doc-Configuring_User_Authentication/Makefile
  guides/doc-Configuring_User_Authentication/common
  guides/doc-Configuring_User_Authentication/docinfo.xml
  guides/doc-Configuring_User_Authentication/images/common
  guides/doc-Configuring_User_Authentication/master.adoc
  guides/doc-Installing_Server/master.adoc
Labels: tech review done, style review done

#3149 Review adding AD as an external authentication source
  guides/common/assembly_configuring-active-directory-as-an-external-identity-provider-for-project.adoc
  guides/common/modules/con_configuring-active-directory-as-an-external-identity-provider-for-project.adoc
  guides/common/modules/con_gss-proxy.adoc
  guides/common/modules/proc_configuring-direct-ad-integration-with-gss-proxy.adoc
  guides/common/modules/proc_configuring-the-active-directory-authentication-source-on-projectserver.adoc
  guides/common/modules/proc_enrolling-server-with-the-ad-server.adoc
Labels: tech review done, style review done

#3303 Update security key generation command for DHCP config
  guides/common/modules/proc_configuring-an-external-dhcp-server.adoc
Labels: tech review done, Needs style review

#3324 Fix URL fragment for Configuring user auth
  guides/common/attributes-satellite.adoc
  guides/upstream_filename_to_satellite_link.json
Labels: tech review done, style review done

#3320 Add running Ansible roles upon host registration
  guides/common/assembly_registering-hosts.adoc
  guides/common/modules/proc_registering-a-host.adoc
  guides/common/modules/proc_running-ansible-roles-during-host-registration.adoc
Labels: tech review done, style review done
