Repository theforeman/foreman-documentation, pull requests merged in 2024-02, with the labels that each got.

#2735 Insert final newline
  guides/common/modules/con_building_cloud_images.adoc
  guides/common/modules/con_deploying-compliance-policies.adoc
  guides/common/modules/con_logging-and-reporting-problems.adoc
  guides/common/modules/con_managing-ansible-content.adoc
  guides/common/modules/proc_changing-data-retention-policy.adoc
  guides/common/modules/proc_changing-the-module-stream-for-a-host.adoc
  guides/common/modules/proc_configuring-smart-proxy-for-host-registration-and-provisioning.adoc
  guides/common/modules/proc_enrolling-server-with-the-ad-server.adoc
  guides/common/modules/proc_listing-available-scap-contents.adoc
  guides/common/modules/proc_monitoring-puppet.adoc
  guides/common/modules/proc_restarting-applications-on-a-host.adoc
  guides/common/modules/proc_restarting-services.adoc
  guides/common/modules/proc_restricting-customrepoid-to-a-specific-os-version-or-architecture-in-project.adoc
  guides/common/modules/proc_retrieving-metrics-in-the-web-ui.adoc
  guides/common/modules/proc_retrieving-status-of-services.adoc
  guides/common/modules/proc_running-a-security-compliance-scan-on-demand.adoc
  guides/common/modules/ref_configuring-logging-levels-with-hammer-cli.adoc
  guides/common/modules/ref_inclusion-of-remote-scap-resources.adoc
  guides/common/modules/ref_log-file-directories.adoc
  guides/common/modules/ref_permissions-required-to-provision-hosts.adoc
  guides/common/modules/ref_system-journal-metadata.adoc
  guides/common/modules/ref_utilities-for-processing-log-information.adoc
  guides/common/modules/snip_deprecated-entitlement-subscriptions.adoc
  guides/common/modules/snip_prerequisite-rhel-repositories.adoc
Labels: Needs re-review

#2741 Extend procedure "Rename Smart Proxy Server" for orcharhino
  guides/common/attributes-orcharhino.adoc
  guides/common/modules/proc_renaming-smart-proxy.adoc
Labels: Not yet reviewed

#2769 Remove ACD developers from docs
  guides/common/modules/proc_acd-developers.adoc
  guides/doc-Deploying_Hosts_AppCentric/master.adoc
Labels: Not yet reviewed

#2748 Set secondary bonded interface as Managed
  guides/common/modules/proc_adding-a-bonded-interface.adoc
Labels: Needs re-review

#2791 Add inclusive language module for Satellite
  guides/common/modules/con_making-open-source-more-inclusive.adoc
  guides/doc-Administering_Project/master.adoc
  guides/doc-Administering_with_Ansible/master.adoc
  guides/doc-Configuring_Load_Balancer/master.adoc
  guides/doc-Deploying_Project_on_AWS/master.adoc
  guides/doc-Installing_Proxy/master.adoc
  guides/doc-Installing_Server/master.adoc
  guides/doc-Managing_Configurations_Ansible/master.adoc
  guides/doc-Managing_Configurations_Puppet/master.adoc
  guides/doc-Managing_Content/master.adoc
  guides/doc-Managing_Hosts/master.adoc
  guides/doc-Managing_Security_Compliance/master.adoc
  guides/doc-Monitoring_Project/master.adoc
  guides/doc-Planning_for_Project/master.adoc
  guides/doc-Provisioning_Hosts/master.adoc
  guides/doc-Tuning_Performance/master.adoc
  guides/doc-Updating_Project/master.adoc
  guides/doc-Upgrading_Project/master.adoc
Labels: Waiting on contributor

#2738 Fix the Deleting Audit Records procedure
  guides/common/assembly_maintaining-server.adoc
  guides/common/modules/proc_deleting-audit-records-automatically.adoc
  guides/common/modules/proc_deleting-audit-records-manually.adoc
  guides/common/modules/proc_deleting-audit-records.adoc
Labels: Needs style review

#2807 Fix the Deleting Audit Records procedure on 3.8 and below
  guides/common/assembly_maintaining-server.adoc
  guides/common/modules/proc_deleting-audit-records-automatically.adoc
  guides/common/modules/proc_deleting-audit-records-manually.adoc
  guides/common/modules/proc_deleting-audit-records.adoc
Labels: cherry pick

#2526 List all sub-statuses
  guides/common/modules/con_host-substatus-overview.adoc
Labels: Needs style review, Needs re-review
