Repository theforeman/foreman-documentation, pull requests merged in 2024-03, with the labels that each got.

#2850 Fix FIPS content for SmartProxy Guide
  guides/common/modules/ref_system-requirements.adoc
Labels: Not yet reviewed

#2851 Fix FIPS content for SmartProxy Guide
  guides/common/modules/ref_system-requirements.adoc
Labels: Not yet reviewed

#2852 Fix FIPS content for SmartProxy Guide
  guides/common/modules/ref_system-requirements.adoc
Labels: Not yet reviewed

#2854 Remove 'you'
  guides/common/modules/con_using-ipxe-to-reduce-provisioning-times.adoc
Labels: Not yet reviewed

#2853 Improve iPXE provisioning 3.8
  guides/common/assembly_configuring-ipxe-to-reduce-provisioning-times.adoc
  guides/common/assembly_using-ipxe-to-reduce-provisioning-times.adoc
  guides/common/attributes-base.adoc
  guides/common/attributes-foreman-deb.adoc
  guides/common/modules/con_prerequisites-for-using-ipxe.adoc
  guides/common/modules/con_using-ipxe-to-reduce-provisioning-times.adoc
  guides/common/modules/proc_booting-virtual-machines.adoc
  guides/common/modules/proc_chainbooting-ipxe-from-pxelinux.adoc
  guides/common/modules/proc_configuring-ipxe-environment.adoc
  guides/common/modules/proc_configuring-ipxe-to-reduce-provisioning-times.adoc
  guides/common/modules/snip_configuring-templates-provisioning.adoc
  guides/common/modules/snip_step-set-bootstrap-http-url.adoc
  guides/doc-Provisioning_Hosts/master.adoc
Labels: Not yet reviewed

#2847 Modularize procedures for DNS, DHCP, and TFTP configuration
  guides/common/assembly_configuring-dns-dhcp-and-tftp.adoc
  guides/common/modules/con_configuring-dns-dhcp-and-tftp.adoc
  guides/common/modules/proc_configuring-dns-dhcp-and-tftp.adoc
  guides/common/modules/ref_configuring-dns-dhcp-and-tftp-additional-resources.adoc
  guides/doc-Installing_Server/master.adoc
  guides/doc-Installing_Server_Disconnected/master.adoc
Labels: Needs style review

#2846 Modularize procedures for enabling and syncing project-client-name repository
  guides/common/assembly_enabling-and-synchronizing-the-project-client-name-repository.adoc
  guides/common/modules/con_enabling-and-synchronizing-the-project-client-name-repository.adoc
  guides/common/modules/proc_enabling-the-project-client-name-repository-for-rhel-7-and-rhel-6.adoc
  guides/common/modules/proc_enabling-the-project-client-name-repository-for-rhel-9-and-rhel-8.adoc
  guides/common/modules/proc_enabling-the-satellite-tools-repository.adoc
  guides/common/modules/proc_synchronizing-the-project-client-name-repository-for-rhel-7-and-rhel-6.adoc
  guides/common/modules/proc_synchronizing-the-project-client-name-repository-for-rhel-9-and-rhel-8.adoc
  guides/common/modules/proc_synchronizing-the-satellite-tools-repository.adoc
  guides/doc-Installing_Server/master.adoc
  guides/doc-Installing_Server_Disconnected/master.adoc
Labels: Needs style review

#2839 Add warning to overriding Ansible variables
  guides/common/modules/proc_overriding-ansible-variables-in-project.adoc
Labels: Needs tech review, Needs style review

#2783 Change working directory for REX in pull mode
  guides/common/assembly_configuring-and-setting-up-remote-jobs.adoc
  guides/common/modules/proc_configuring-an-alternative-directory-to-execute-remote-jobs-on-clients.adoc
  guides/common/modules/proc_setting-an-alternative-directory-for-remote-execution-jobs-in-pull-mode.adoc
  guides/common/modules/proc_setting-an-alternative-directory-for-remote-execution-jobs-in-push-mode.adoc
Labels: Needs tech review, Needs style review

#2805 Add EL9 Support in Project and SmartProxy Installation
  guides/common/assembly_installing-satellite-server-disconnected.adoc
  guides/common/assembly_using-external-databases.adoc
  guides/common/attributes-base.adoc
  guides/common/attributes-satellite.adoc
  guides/common/modules/con_active-directory-with-cross-forest-trust.adoc
  guides/common/modules/con_kerberos-configuration-in-web-browsers.adoc
  guides/common/modules/con_using-freeipa.adoc
  guides/common/modules/proc_attaching-satellite-infrastructure-subscription.adoc
  guides/common/modules/proc_configuring-direct-ad-integration-with-gss-proxy.adoc
  guides/common/modules/proc_configuring-dynamic-dns-update-with-gss-tsig-authentication.adoc
  guides/common/modules/proc_configuring-for-uefi-http-boot-ipv6-provisioning.adoc
  guides/common/modules/proc_configuring-freeipa-authentication-on-server.adoc
  guides/common/modules/proc_configuring-host-based-authentication-control.adoc
  guides/common/modules/proc_configuring-repositories-proxy.adoc
  guides/common/modules/proc_configuring-repositories.adoc
  guides/common/modules/proc_configuring-the-base-operating-system-with-offline-repositories.adoc
  guides/common/modules/proc_installing-fapolicyd-on-server.adoc
  guides/common/modules/proc_installing-the-load-balancer.adoc
  guides/common/modules/proc_preparing-a-host-for-external-databases.adoc
  guides/common/modules/proc_synchronizing-the-system-clock-with-chronyd.adoc
  guides/common/modules/proc_upgrading-a-disconnected-project-server.adoc
  guides/common/modules/proc_verifying-dns-resolution.adoc
  guides/common/modules/ref_capsule-storage-requirements.adoc
  guides/common/modules/ref_storage-requirements.adoc
  guides/common/modules/ref_supported-operating-systems.adoc
  guides/common/modules/ref_system-requirements.adoc
  guides/common/modules/snip_step-verify-enabled-repolist.adoc
  guides/common/modules/snip_verify-firewall-settings.adoc
Labels: tech review done

#2898 Fix typo in Proxmox procedure
  guides/common/modules/proc_adding-proxmox-images-to-server.adoc
Labels: tw uni course

#2907 Change working directory for REX in pull mode
  guides/common/assembly_configuring-and-setting-up-remote-jobs.adoc
  guides/common/modules/proc_configuring-an-alternative-directory-to-execute-remote-jobs-on-clients.adoc
  guides/common/modules/proc_setting-an-alternative-directory-for-remote-execution-jobs-in-pull-mode.adoc
  guides/common/modules/proc_setting-an-alternative-directory-for-remote-execution-jobs-in-push-mode.adoc
Labels: cherry pick

#2919 Add upgrade warning about shortnames 3.9
  guides/doc-Release_Notes/topics/foreman.adoc
Labels: upstream
