Repository theforeman/foreman-documentation, pull requests merged in 2024-08, with the labels that each got.

#3015 Review & edit IPA external authentication user story
  guides/README.md
  guides/common/assembly_accessing-server.adoc
  guides/common/assembly_configuring-a-freeipa-server-as-an-external-identity-provider-for-project.adoc
  guides/common/assembly_configuring-ad-integrated-with-freeipa-through-cross-forest-kerberos-trust-as-an-external-identity-provider-for-project.adoc
  guides/common/assembly_configuring-external-authentication.adoc
  guides/common/assembly_configuring-freeipa-server-as-an-external-identity-provider-for-project.adoc
  guides/common/attributes-satellite.adoc
  guides/common/modules/con_active-directory-with-cross-forest-trust.adoc
  guides/common/modules/con_configuring-a-freeipa-server-as-an-external-identity-provider-for-project.adoc
  guides/common/modules/con_configuring-ad-integrated-with-freeipa-through-cross-forest-kerberos-trust-as-an-external-identity-provider-for-project.adoc
  guides/common/modules/con_configuring-an-ldap-server-as-an-external-identity-provider-for-project.adoc
  guides/common/modules/con_configuring-freeipa-server-as-an-external-identity-provider-for-project.adoc
  guides/common/modules/con_using-freeipa.adoc
  guides/common/modules/proc_configuring-freeipa-authentication-on-server.adoc
  guides/common/modules/proc_configuring-hammer-cli-to-accept-freeipa-credentials.adoc
  guides/common/modules/proc_configuring-host-based-access-control-for-freeipa-users-logging-in-to-project.adoc
  guides/common/modules/proc_configuring-host-based-authentication-control.adoc
  guides/common/modules/proc_configuring-the-freeipa-authentication-source-on-projectserver.adoc
  guides/common/modules/proc_configuring-the-hammer-cli-to-use-freeipa-user-authentication.adoc
  guides/common/modules/proc_enrolling-projectserver-in-freeipa-domain.adoc
  guides/common/modules/proc_logging-in-to-hammer-cli-with-freeipa-credentials.adoc
  guides/common/modules/proc_logging-in-to-the-projectwebui-with-freeipa-credentials-in-chrome.adoc
  guides/common/modules/proc_logging-in-to-the-projectwebui-with-freeipa-credentials-in-mozilla-firefox.adoc
  guides/common/modules/proc_using-freeipa-credentials-to-log-in-to-the-ProjectWebUI-with-a-Chrome-browser.adoc
  guides/common/modules/proc_using-freeipa-credentials-to-log-in-to-the-ProjectWebUI-with-a-Firefox-browser.adoc
  guides/common/modules/proc_using-freeipa-credentials-to-log-in-to-the-project-hammer-cli.adoc
  guides/common/modules/snip_do-not-use-both-ldap-and-freeipa.adoc
Labels: tech review done, style review done

#3196 Update URL replacement in upstreamize script
  guides/scripts/upstreamize.rb
Labels: Not yet reviewed

#3184 Improve intro for PXE provisioning concept
  guides/common/modules/con_using-pxe-to-provision-hosts.adoc
Labels: style review done

#3229 Fix command to reset Keycloak authentication
  guides/common/modules/proc_registering-project-as-a-client-of-keycloak.adoc
Labels: tech review done

#3236 Add release notes for 3.12-rc1
  guides/doc-Release_Notes/master.adoc
  guides/doc-Release_Notes/topics/foreman-3.12.0.adoc
  guides/doc-Release_Notes/topics/foreman-contributors.adoc
Labels: Not yet reviewed

#3226 Update procedure to sync Python-type content
  guides/common/modules/proc_downloading-python-packages-to-a-host-from-a-python-repository.adoc
  guides/common/modules/proc_installing-python-packages-from-server.adoc
  guides/common/modules/proc_synchronizing-python-repositories.adoc
Labels: Not yet reviewed

#3237 Add Puppet 8 as a headline feature
  guides/doc-Release_Notes/topics/foreman.adoc
Labels: Not yet reviewed

#3230 Update Quarkus-based Keycloak procedures
  guides/common/modules/proc_logging-in-to-project-configured-with-keycloak-as-an-authentication-source.adoc
  guides/common/modules/proc_registering-project-as-a-client-of-keycloak.adoc
Labels: tech review done, style review done
