Repository theforeman/foreman-documentation, pull requests merged in 2024-05, with the labels that each got.

#2974 Use foreman-maintain update command for update guide
  guides/common/modules/proc_updating-disconnected-server.adoc
  guides/common/modules/proc_updating-server.adoc
  guides/common/modules/proc_updating-smart-proxy.adoc
Labels: tech review done

#2975 Reduce doc bloat & edit LDAP external authentication user story
  guides/common/assembly_configuring-an-ldap-server-as-an-external-identity-provider-for-project.adoc
  guides/common/modules/con_configuring-active-directory-as-an-external-identity-provider-for-project.adoc
  guides/common/modules/con_configuring-an-ldap-server-as-an-external-identity-provider-for-project.adoc
  guides/common/modules/con_using-freeipa.adoc
  guides/common/modules/con_using-ldap.adoc
  guides/common/modules/proc_configuring-external-user-groups.adoc
  guides/common/modules/proc_configuring-project-to-use-ldap.adoc
  guides/common/modules/proc_configuring-tls-for-secure-ldap.adoc
  guides/common/modules/ref_description-of-ldap-settings.adoc
  guides/common/modules/ref_example-settings-for-ldap-connections.adoc
  guides/common/modules/ref_examples-ldap-filters.adoc
  guides/common/modules/snip_do-not-use-both-ldap-and-freeipa.adoc
Labels: tech review done, Needs re-review

#2980 Document compliance remediation wizard
  guides/common/modules/proc_remediating-compliance-failures.adoc
Labels: Needs style review

#3019 Unify URL for pulp content on Foreman/Katello
  guides/common/attributes-orcharhino.adoc
Labels: Not yet reviewed

#3010 Add link for creating manifests
  guides/common/modules/con_managing-red-hat-subscriptions.adoc
Labels: Needs style review

#3051 force leapp to keep tomcat instead of removing it
  guides/common/modules/proc_upgrading-project-or-proxy-in-place-using-leapp.adoc
Labels: Waiting on contributor

#2665 Add ability to generate TOC file for testing links
  Dockerfile
  Gemfile
  Makefile
  guides/Makefile
  guides/README.md
  guides/scripts/extract_links_toc
  guides/upstream_filename_to_satellite_link.json
Labels: Needs tech review

#2845 Implement the releases as a data source
  README.md
  web/Rules
  web/content/index.adoc.erb
  web/content/js/nav.js
  web/content/js/versions.js
  web/content/js/versions.js.erb
  web/lib/releases.rb
  web/nanoc.yaml
  web/releases/2.4.adoc
  web/releases/2.4.json
  web/releases/2.5.adoc
  web/releases/2.5.json
  web/releases/3.0.adoc
  web/releases/3.0.json
  web/releases/3.1.adoc
  web/releases/3.1.json
  web/releases/3.10.adoc
  web/releases/3.10.json
  web/releases/3.11.adoc
  web/releases/3.11.json
  web/releases/3.2.adoc
  web/releases/3.2.json
  web/releases/3.3.adoc
  web/releases/3.3.json
  web/releases/3.4.adoc
  web/releases/3.4.json
  web/releases/3.5.adoc
  web/releases/3.5.json
  web/releases/3.6.adoc
  web/releases/3.6.json
  web/releases/3.7.adoc
  web/releases/3.7.json
  web/releases/3.8.adoc
  web/releases/3.8.json
  web/releases/3.9.adoc
  web/releases/3.9.json
  web/releases/nightly.adoc
  web/releases/nightly.json
Labels: Needs re-review
