Repository theforeman/foreman-documentation, pull requests merged in 2024-10, with the labels that each got.

#3332 Fix attribute substitution in API examples
  guides/common/modules/proc_calling-the-api-in-python.adoc
  guides/common/modules/proc_calling-the-api-in-ruby.adoc
Labels: tech review done, style review done

#3331 Update time stamps in example API requests
  guides/common/modules/ref_json-response-format.adoc
Labels: tech review done, style review done

#3329 Document CLI, Ansible, and API for registering a host
  guides/common/modules/proc_registering-a-host.adoc
Labels: tech review done, style review done

#3328 Drop references to API requests via Proxy
  guides/common/modules/con_api-cheat-sheet.adoc
Labels: tech review done, style review done

#3301 Add Configuring user authentication guide to navigation
  web/releases/3.12.json
  web/releases/nightly.json
Labels: tech review done, style review done

#3312 don't mention foreman-debug, only sos report
  guides/common/attributes-foreman-deb.adoc
  guides/common/attributes-orcharhino.adoc
  guides/common/modules/ref_utilities-for-processing-log-information.adoc
Labels: tech review done, style review done

#3326 Fix broken links in Installing
  guides/common/modules/proc_resetting-custom-ssl-certificate-to-default-self-signed-certificate-on-project.adoc
  guides/common/modules/proc_reverting-to-internal-dns-service.adoc
Labels: tech review done, style review done

#3317 Drop SCA assembly from Planning
  guides/common/assembly_subscription-management-with-project.adoc
  guides/common/modules/con_simple-content-access-sca-in-project.adoc
  guides/common/modules/con_subscription-management-with-project-additional-resources.adoc
  guides/common/modules/con_subscription-management-with-project.adoc
  guides/doc-Planning_for_Project/master.adoc
Labels: tech review done, style review done

#3325 Drop GSS proxy privilege separation from direct AD integration proc (3.10)
  guides/common/assembly_configuring-external-authentication.adoc
  guides/common/modules/con_gss-proxy.adoc
  guides/common/modules/con_using-active-directory.adoc
  guides/common/modules/proc_configuring-direct-ad-integration-with-gss-proxy.adoc
  guides/common/modules/proc_configuring-the-active-directory-authentication-source-on-projectserver.adoc
  guides/common/modules/proc_enrolling-server-with-the-ad-server.adoc
Labels: tech review done, style review done

#3272 Convert to one sentence per line
  guides/common/modules/con_network-boot-provisioning-workflow.adoc
Labels: tech review done, style review done

#3338 Unify macro for YAML code blocks
  guides/common/modules/con_postgresql-tuning.adoc
  guides/common/modules/proc_synchronizing-ansible-collections.adoc
Labels: tech review done, style review done

#3337 Unify macro for Ruby code blocks
  guides/common/modules/proc_calling-the-api-in-ruby.adoc
  guides/common/modules/proc_managing-puppet-modules-with-r10k.adoc
  guides/common/modules/ref_customizing-job-templates.adoc
  guides/common/modules/ref_example-including-power-options-in-a-job-template.adoc
  guides/common/modules/ref_example-restorecon-template.adoc
  guides/common/modules/ref_rendering-a-restorecon-template.adoc
Labels: tech review done, style review done

#3336 Use generic example password
  guides/common/modules/proc_exporting-report-templates-using-the-api.adoc
  guides/common/modules/proc_importing-report-templates-using-the-api.adoc
Labels: tech review done, style review done

#3330 Reduce doc bloat in registering a host
  guides/common/modules/proc_registering-a-host.adoc
Labels: tech review done, style review done

#3323 Clarify that AD users in a cross-forest trust env with FreeIPA cannot login with Kerberos
  guides/common/modules/con_configuring-kerberos-single-sign-on-with-freeipa-in-project.adoc
Labels: tech review done, style review done

#3242 Configure host for global registration
  guides/common/assembly_registering-hosts.adoc
  guides/common/modules/proc_configuring-a-host-for-registration.adoc
  guides/common/modules/proc_registering-a-host.adoc
Labels: tech review done, style review done

#3298 Clarify naming scheme of bonded interfaces
  guides/common/modules/proc_adding-a-bonded-interface.adoc
Labels: tech review done, style review done

#3344 Add troubleshooting test email delivery (postfix)
  guides/common/modules/proc_testing-email-delivery.adoc
Labels: tech review done, style review done

#3340 Update output of hammer ping
  guides/common/modules/ref_troubleshooting-project-by-using-hammer.adoc
Labels: tech review done, style review done

#3345 Turn chronyd module into a short prerequisite
  guides/common/assembly_installing-capsule-server.adoc
  guides/common/assembly_installing-satellite-server-disconnected.adoc
  guides/common/assembly_installing-server-connected.adoc
  guides/common/assembly_preparing-smartproxyservers-for-load-balancing.adoc
  guides/common/modules/proc_synchronizing-the-system-clock-with-chronyd.adoc
  guides/common/modules/ref_system-requirements.adoc
Labels: tech review done, style review done

#3343 Add depth option for OSTree repositories
  guides/common/modules/proc_importing-ostree-content.adoc
Labels: tech review done, style review done

#3349 Small fixes for provisioning methods
  guides/common/modules/con_provisioning-methods-in-project.adoc
Labels: tech review done, style review done

#3327 Fix broken links in Installing Proxy
  guides/common/modules/con_configuring-project-with-external-idm-dns.adoc
  guides/common/modules/con_managing-dhcp-by-using-smartproxy.adoc
  guides/common/modules/con_managing-dns-by-using-smartproxy.adoc
  guides/common/modules/con_registering-hosts-and-setting-up-host-integration.adoc
  guides/common/modules/con_smartproxy-networking.adoc
  guides/common/modules/proc_configuring-capsule-default-certificate.adoc
  guides/common/modules/proc_deploying-a-custom-ssl-certificate-to-smart-proxy-server.adoc
  guides/common/modules/proc_renaming-smart-proxy.adoc
  guides/common/modules/proc_resetting-custom-ssl-certificate-to-default-self-signed-certificate-on-smartproxy.adoc
  guides/common/modules/proc_reverting-to-internal-dns-service.adoc
  guides/common/modules/ref_port-and-firewall-requirements.adoc
  guides/common/modules/ref_smart-proxy-port-and-firewall-requirements.adoc
  guides/common/modules/snip_host-registration-steps.adoc
  guides/doc-Planning_for_Project/topics/Provisioning_Concepts.adoc
Labels: tech review done, style review done

#3350 Drop Internet Explorer reference
  guides/common/assembly_configuring-active-directory-as-an-external-identity-provider-for-project.adoc
  guides/common/modules/con_kerberos-configuration-in-web-browsers.adoc
  guides/common/modules/proc_configuring-the-active-directory-authentication-source-on-projectserver.adoc
Labels: tech review done, style review done

#3279 Allow tabs for container-based builds
  Dockerfile
Labels: tech review done, style review done

#3358 Change ID to fix a broken UI link
  guides/common/modules/con_registering-hosts-and-setting-up-host-integration.adoc
Labels: tech review done, style review done

#3355 Fix capitalization in web navigation
  web/releases/3.12.json
  web/releases/nightly.json
Labels: tech review done, style review done

#3368 Adding token
  .github/workflows/vale.yml
Labels: Not yet reviewed

#3369 Revert "Adding token"
  .github/workflows/vale.yml
Labels: Not yet reviewed

#3334 Add steps to configure standalone Hammer on EL 9
  guides/common/attributes-base.adoc
  guides/common/attributes-satellite.adoc
  guides/common/modules/proc_installing-standalone-hammer.adoc
Labels: tech review done, style review done

#3361 Simplify disabling RH Insights
  guides/common/modules/proc_disabling-registration-to-insights.adoc
Labels: tech review done, style review done

#3360 Mention that target should have same config as source
  guides/common/modules/proc_migrating-project-or-smartproxy-using-backup.adoc
Labels: tech review done, style review done

#3359 Subscription-manager release unset for connected
  guides/common/modules/proc_upgrading-project-or-proxy-in-place-using-leapp.adoc
Labels: tech review done, style review done

#3370 Pin Ubuntu to 22.04 in vale.yml to work around a bug
  .github/workflows/vale.yml
Labels: tech review done

#3365 Fix capitalization in module
  guides/common/modules/ref_supported-clients-in-registration.adoc
Labels: tech review done, style review done

#3363 List required repos for Capsule leapp upgrade
  guides/common/modules/proc_upgrading-project-or-proxy-in-place-using-leapp.adoc
Labels: tech review done, style review done

#3362 Remove entitlement-mode subscription steps from cloning
  guides/common/modules/proc_cloning_satellite_server.adoc
Labels: tech review done, style review done, Needs re-review

#3364 Add cloning server steps for EL 9
  guides/common/modules/proc_cloning_satellite_server.adoc
Labels: style review done, Needs tech review

#3372 Show link to Hammer CLI guide for all builds
  guides/common/modules/ref_cli-help.adoc
Labels: style review done

#3375 Update vale.yml to also install asciidoctor
  .github/workflows/vale.yml
Labels: Needs tech review

#3357 Add PostgreSQL space requirement in prerequisites
  guides/common/modules/con_upgrading-prerequisites.adoc
Labels: tech review done, style review done

#3371 Change details to environment
  guides/common/modules/proc_changing-the-environment-of-a-host.adoc
Labels: tech review done, style review done

#3348 Improve ext auth navigation
  guides/common/assembly_configuring-kerberos-sso-for-active-directory-users-in-project.adoc
  guides/common/assembly_configuring-kerberos-sso-with-freeipa-in-project.adoc
  guides/common/assembly_configuring-sso-and-2fa-with-keycloak-quarkus-in-project.adoc
  guides/common/assembly_configuring-sso-and-2fa-with-keycloak-wildfly-in-project.adoc
  guides/common/modules/con_configuring-an-ldap-server-as-an-external-identity-provider-for-project.adoc
  guides/common/modules/con_configuring-kerberos-sso-for-active-directory-users-in-project.adoc
  guides/common/modules/con_configuring-kerberos-sso-with-freeipa-in-project.adoc
  guides/common/modules/con_configuring-sso-and-2fa-with-keycloak-quarkus-in-project.adoc
  guides/common/modules/con_configuring-sso-and-2fa-with-keycloak-wildfly-in-project.adoc
  guides/common/modules/proc_logging-in-to-the-projectwebui-with-freeipa-credentials-in-chrome.adoc
  guides/common/modules/proc_logging-in-to-the-projectwebui-with-freeipa-credentials-in-mozilla-firefox.adoc
  guides/common/modules/ref_overview-of-authentication-methods-in-project.adoc
  guides/doc-Configuring_User_Authentication/docinfo.xml
  guides/doc-Configuring_User_Authentication/master.adoc
Labels: tech review done, style review done

#3304 Add diagram of installer-based provisioning with PXE boot
  guides/image-sources/foreman.pstyle
  guides/image-sources/prov-create-host-pxe.iuml
  guides/image-sources/prov-first-local-boot-pxe.iuml
  guides/image-sources/prov-initial-configuration.iuml
  guides/image-sources/prov-installation-media.iuml
  guides/image-sources/provisioning-installer-pxeboot.plantuml
  guides/image-sources/puppet-run.iuml
Labels: tech review done, style review done

#3374 Mention that the external database should be upgraded
  guides/common/modules/con_postgresql-as-an-external-database-considerations.adoc
  guides/common/modules/proc_upgrading-a-connected-project-server.adoc
  guides/common/modules/proc_upgrading-a-disconnected-project-server.adoc
  guides/common/modules/proc_upgrading-the-external-database.adoc
Labels: tech review done, style review done

#3378 Add repos for EL 9 in updating guide
  guides/common/modules/proc_updating-disconnected-server-on-EL8.adoc
  guides/common/modules/proc_updating-disconnected-server-on-EL9.adoc
  guides/common/modules/proc_updating-disconnected-server.adoc
  guides/common/modules/proc_updating-server.adoc
  guides/common/modules/proc_updating-smart-proxy.adoc
  guides/doc-Updating_Project/master.adoc
Labels: tech review done, style review done

#3390 Remove the "Using the Details tab" section
  guides/common/assembly_administering-hosts.adoc
  guides/common/modules/proc_using-the-host-details-tab.adoc
Labels: style review done

#3384 Add new note snippet
  guides/common/modules/proc_importing-a-content-view-version.adoc
  guides/common/modules/proc_importing-a-repository.adoc
  guides/common/modules/proc_importing-into-the-library-environment.adoc
  guides/common/modules/snip_extract-directory-imported-project-server.adoc
Labels: style review done

#3389 Refs #36688 - Option to use wget for host registration
  guides/common/modules/con_registering-hosts-by-using-global-registration.adoc
  guides/common/modules/proc_registering-a-host.adoc
  guides/common/modules/ref_registration-methods.adoc
Labels: tech review done, style review done

#3397 De-duplicate TemplateSync reference
  guides/common/assembly_synchronizing-template-repositories.adoc
  guides/common/modules/proc_configuring-the-templatesync-plugin.adoc
  guides/common/modules/proc_enabling-the-templatesync-plugin.adoc
  guides/common/modules/proc_exporting-templates.adoc
  guides/common/modules/proc_importing-templates.adoc
Labels: tech review done, style review done

#3405 Replacing '&' with '&amp;'
  guides/common/modules/proc_calling-the-api-in-python.adoc
Labels: style review done, Needs tech review
