Repository theforeman/foreman-documentation, pull requests merged in 2024-06, with the labels that each got.

#2007 Fixes Foreman Support #22332 - document multiple pxdns
  guides/common/modules/con_unattended-use-customization-and-image-remastering.adoc
Labels: Needs tech review

#3039 Fix the DB command in the upgrade guides
  guides/doc-Upgrading_Project/topics/proc_upgrading-a-connected-project-server.adoc
  guides/doc-Upgrading_Project/topics/proc_upgrading-a-disconnected-project-server.adoc
Labels: Needs tech review

#3029 Supported OS+arch for orcharhino
  guides/common/modules/ref_supported-clients-in-registration.adoc
Labels: Needs re-review

#3065 Add limitation of host params in Ansible playbook jobs
  guides/common/modules/proc_running-an-ansible-playbook.adoc
Labels: Needs style review

#3099 Update 3.11.0 release notes
  guides/doc-Release_Notes/topics/foreman-3.11.0.adoc
Labels: Not yet reviewed

#3100 Mark Foreman 3.11.0 as GA
  web/releases/3.11.json
  web/releases/3.9.json
Labels: Not yet reviewed

#3102 Mark Foreman 3.9 as unsupported
  guides/common/attributes.adoc
Labels: Not yet reviewed

#3101 Mark Foreman 3.11 as stable
  guides/common/attributes.adoc
Labels: Not yet reviewed
