Repository theforeman/foreman-documentation, pull requests merged in 2024-12, with the labels that each got.

#3431 Managing hosts adding network interfaces
  guides/common/assembly_managing-network-interfaces.adoc
  guides/common/modules/con_configuring-network-interfaces.adoc
  guides/common/modules/proc_adding-a-bonded-interface.adoc
  guides/common/modules/proc_adding-a-physical-interface.adoc
  guides/common/modules/proc_adding-a-virtual-interface.adoc
  guides/common/modules/proc_configuring-a-bmc-interface.adoc
  guides/common/modules/proc_configuring-a-bonded-interface.adoc
  guides/common/modules/proc_configuring-a-physical-interface.adoc
  guides/common/modules/proc_configuring-a-virtual-interface.adoc
  guides/common/modules/proc_creating-a-host.adoc
  guides/common/modules/proc_creating-hosts-with-uefi-http-boot-provisioning.adoc
  guides/common/modules/proc_creating-hosts-with-unattended-provisioning.adoc
  guides/common/modules/proc_enabling-power-management-on-hosts.adoc
  guides/common/modules/ref_bonding-modes-available-in-project.adoc
  guides/common/modules/ref_network-interface-configuration-options.adoc
Labels: tech review done, style review done

#3442 Consolidate Tracer procedures
  guides/common/assembly_administering-hosts.adoc
  guides/common/assembly_registering-hosts.adoc
  guides/common/modules/con_registering-hosts-and-setting-up-host-integration.adoc
  guides/common/modules/proc_configuring-tracer-on-a-host.adoc
  guides/common/modules/proc_enabling-tracer-on-a-host.adoc
  guides/common/modules/proc_installing-tracer.adoc
  guides/common/modules/proc_registering-a-host.adoc
Labels: tech review done, style review done

#3443 Add link to Provisioning guide in the "Creating a host" procedure
  guides/common/modules/proc_creating-a-host.adoc
Labels: tech review done, style review done

#3474 Drop quotes (a typo fix)
  guides/common/modules/ref_best-practices-for-content-views.adoc
Labels: tech review done, style review done

#3455 Include Hammer and API guides for all builds
  guides/common/modules/con_api-overview.adoc
  guides/common/modules/con_hammer-cli-overview.adoc
Labels: tech review done, style review done

#3403 Create incremental CVs by adding Deb packages
  guides/common/assembly_managing-errata.adoc
  guides/common/modules/proc_creating-an-incremental-content-view-version-by-adding-deb-packages.adoc
Labels: tech review done, style review done

#3493 Reword plug-in to plugin
  guides/common/modules/con_shellhooks-plugin.adoc
Labels: tech review done, style review done

#3460 Document foreman_resource_quota plugin
  guides/common/assembly_limiting-host-resources.adoc
  guides/common/modules/con_assigning-resource-quotas-to-users.adoc
  guides/common/modules/con_limiting-host-resources.adoc
  guides/common/modules/con_managing-resource-quotas.adoc
  guides/common/modules/proc_assigning-resource-quotas-to-a-user-group.adoc
  guides/common/modules/proc_assigning-resource-quotas-to-a-user.adoc
  guides/common/modules/proc_creating-a-resource-quota.adoc
  guides/common/modules/proc_deleting-a-resource-quota.adoc
  guides/common/modules/proc_editing-a-resource-quota.adoc
  guides/common/modules/proc_installing-the-resource-quota-plugin.adoc
  guides/common/modules/ref_resource-quota-settings.adoc
  guides/doc-Administering_Project/master.adoc
Labels: tech review done, style review done

#3479 Limit number of Python package versions
  guides/common/modules/proc_synchronizing-python-repositories.adoc
Labels: tech review done, style review done

#3245 Add upgrade considerations for Hammer and API
  guides/common/modules/con_upgrade-paths.adoc
Labels: tech review done, style review done

#3464 Document structured APT content
  guides/common/assembly_importing-content.adoc
  guides/common/modules/con_structured-apt-content.adoc
  guides/common/modules/proc_enabling-structured-apt-content.adoc
Labels: tech review done, style review done

#3494 Add missing trailing colon
  guides/common/modules/proc_upgrading-a-connected-project-server.adoc
Labels: tech review done, style review done

#3482 Prefix Hammer command with dollar sign
  guides/common/modules/snip_managing-packages-api.adoc
Labels: tech review done, style review done

#3376 Add reproducer for Hammer CLI reference
  hammer_cli_reference/README.adoc
  hammer_cli_reference/ansible.cfg
  hammer_cli_reference/inventory.yaml
  hammer_cli_reference/playbook.yaml
Labels: tech review done, style review done

#3469 Modularize Deploying Foreman on AWS guide
  guides/common/images/aws-combined-direct-satellite.png
  guides/common/images/aws-combined-vpn-satellite.png
  guides/common/images/aws-multi-region-direct-satellite.png
  guides/common/images/aws-multi-region-vpn-satellite.png
  guides/common/images/aws-single-region-satellite.png
  guides/common/modules/con_deployment-scenarios.adoc
  guides/common/modules/con_foreman-on-aws-assumptions.adoc
  guides/common/modules/con_foreman-on-aws-prerequisites-for-foreman-server.adoc
  guides/common/modules/con_foreman-on-aws-prerequisites.adoc
  guides/common/modules/con_foreman-on-aws-registering-hosts.adoc
  guides/common/modules/con_foreman-on-aws-rh-cloud-prerequisites.adoc
  guides/common/modules/con_foreman-on-aws-use-case-considerations.adoc
  guides/common/modules/con_installing-foreman-server-on-aws.adoc
  guides/common/modules/con_installing-smart-proxy-server-on-aws.adoc
  guides/common/modules/con_supported-use-cases-for-deploying-foreman-on-aws.adoc
  guides/common/modules/con_unsupported-use-cases-for-deploying-foreman-on-aws.adoc
  guides/common/modules/proc_preparing-foreman-server-on-aws.adoc
  guides/doc-Deploying_Project_on_AWS/master.adoc
  guides/doc-Deploying_Project_on_AWS/topics/AWS_Prerequisites.adoc
Labels: tech review done, Needs style review

#3495 Bump Satellite version to 6.17
  guides/common/attributes-satellite.adoc
Labels: tech review done, style review done

#3486 Simplify deploying a custom ssl cert on server
  guides/common/modules/proc_deploying-a-custom-ssl-certificate-to-satellite-server.adoc
Labels: tech review done, style review done

#3484 Avoid or clarify /etc/foreman-installer/scenarios.d references
  guides/common/modules/proc_resetting-custom-ssl-certificate-to-default-self-signed-certificate-on-project.adoc
  guides/common/modules/ref_glossary-of-terms-used-in-project.adoc
Labels: tech review done, style review done

#3499 Update procedure to configure TLS for LDAP
  guides/common/modules/proc_configuring-tls-for-secure-ldap.adoc
Labels: tech review done, style review done

#3506 Drop *.akamaiedge.net from list of CDN prereqs
  guides/common/modules/snip_host-names-for-http-proxy.adoc
Labels: tech review done, style review done

#3511 Use common Client OS attributes for KernelCare
  guides/common/assembly_using-kernelcare.adoc
  guides/common/modules/proc_creating-kernelcare-repositories-el.adoc
  guides/common/modules/proc_live-patching-hosts-using-kernelcare.adoc
Labels: tech review done, style review done

#3513 Remove link macro from DocURL attributes
  guides/common/modules/con_importing-the-project-client-name-repository.adoc
  guides/common/modules/con_project-api-compared-to-hammer-cli.adoc
  guides/common/modules/proc_logging-in-to-hammer-cli-with-freeipa-credentials.adoc
  guides/common/modules/proc_synchronizing-the-project-client-name-repository.adoc
  guides/common/modules/ref_preparing-smartproxyservers-for-load-balancing-additional-resources.adoc
Labels: tech review done, style review done

#3492 Introduce substeps for rex pull mode based on yggdrasil version
  guides/common/modules/proc_configuring-a-host-to-use-the-pull-client.adoc
  guides/common/modules/proc_setting-an-alternative-directory-for-remote-execution-jobs-in-pull-mode.adoc
Labels: tech review done, style review done

#3512 Hide several links for orcharhino builds
  guides/common/modules/con_prerequisites-for-vmware-provisioning.adoc
  guides/common/modules/proc_configuring-dynamic-dns-update-with-gss-tsig-authentication.adoc
  guides/common/modules/proc_configuring-dynamic-dns-update-with-tsig-authentication.adoc
  guides/common/modules/proc_reverting-to-internal-dns-service.adoc
Labels: tech review done, style review done

#3524 Fix example value for Hammer CLI
  guides/common/modules/proc_synchronizing-repositories.adoc
Labels: tech review done, style review done

#3527 Add prerequisite for product existing
  guides/common/modules/proc_using-container-registries.adoc
Labels: style review done

#3535 Drop unused file for configuring repos on RHEL 7
  guides/common/modules/proc_configuring-the-base-operating-system-with-offline-repositories-in-rhel-7.adoc
Labels: tech review done, style review done

#3238 Use RHEL 9 when creating a remote source for custom file type
  guides/common/modules/proc_creating-a-remote-source-for-a-custom-file-type-repository.adoc
Labels: tech review done, style review done

#3537 Update list of Client OS for file-type content
  guides/common/modules/snip_tip-file-repositories-by-atix.adoc
Labels: tech review done, style review done

#3539 Drop support for running on Debian 11
  guides/common/modules/con_projectserver-operating-system.adoc
  guides/common/modules/proc_configuring-repositories-foreman-deb.adoc
  guides/common/modules/proc_upgrading-a-connected-project-server.adoc
  guides/common/modules/ref_supported-operating-systems.adoc
  guides/doc-Release_Notes/topics/foreman.adoc
Labels: style review done
