Repository theforeman/foreman-documentation, pull requests merged in 2024-11, with the labels that each got.

#3394 Add link to Leapp known issues
  guides/common/modules/proc_upgrading-project-or-proxy-in-place-using-leapp.adoc
Labels: tech review done, style review done

#3382 Clean up external links in procedure to manage hosts using Cockpit
  guides/common/modules/proc_managing-and-monitoring-hosts-using-cockpit.adoc
Labels: tech review done, style review done

#3410 Make a disconnected upgrade requirement harder to overlook
  guides/common/modules/proc_upgrading-project-or-proxy-in-place-using-leapp.adoc
Labels: tech review done, style review done

#3408 Document high-level steps for upgrading
  guides/common/modules/con_upgrade-paths.adoc
  guides/common/modules/con_upgrading-overview.adoc
  guides/common/modules/con_upgrading-prerequisites.adoc
  guides/common/modules/con_upgrading-project.adoc
  guides/common/modules/proc_upgrading-a-connected-project-server.adoc
  guides/common/modules/proc_upgrading-a-disconnected-project-server.adoc
  guides/common/modules/proc_upgrading-smartproxy-server.adoc
  guides/common/modules/snip_prerequisites-upgrading-project-server.adoc
  guides/doc-Upgrading_Project/master.adoc
  guides/doc-Upgrading_Project_Disconnected/master.adoc
Labels: tech review done, style review done

#3385 Bump orcharhino version
  .github/PULL_REQUEST_TEMPLATE.md
  guides/common/attributes-orcharhino.adoc
Labels: tech review done, style review done

#3419 Remove links to a chronyd section in Installing
  guides/common/modules/proc_adding-an-amazon-ec2-connection-to-server.adoc
  guides/common/modules/proc_configuring-a-host-for-registration.adoc
Labels: tech review done, style review done

#3425 Add Katello 4.14.1 changelog and doc entry
  guides/doc-Release_Notes/master.adoc
  guides/doc-Release_Notes/topics/katello-4.14.1.adoc
Labels: tech review done, style review done

#3427 Fix heading of Discovery settings 3.8
  guides/common/assembly_administer-settings-information.adoc
  guides/common/modules/ref_discovery-settings.adoc
Labels: tech review done, style review done

#3387 Change "OS" to "operating system" per RHSSG
  guides/common/assembly_importing-content.adoc
  guides/common/modules/con_restricting-hosts-access-to-content.adoc
  guides/common/modules/con_supported-ansible-versions.adoc
  guides/common/modules/proc_adding-custom-rpm-repositories.adoc
  guides/common/modules/proc_configuring-repositories-foreman-deb.adoc
  guides/common/modules/proc_creating-a-host-group-for-each-lifecycle-environment.adoc
  guides/common/modules/proc_deploying-ssh-keys-during-provisioning.adoc
  guides/common/modules/proc_determining-hardware-and-operating-system-configuration.adoc
  guides/common/modules/proc_importing-templates.adoc
  guides/common/modules/proc_restricting-customrepoid-to-a-specific-operating-system-version-or-architecture-in-project.adoc
  guides/common/modules/proc_synchronizing-templates-with-a-local-directory.adoc
  guides/common/modules/proc_upgrading-a-connected-project-server.adoc
  guides/common/modules/proc_upgrading-project-or-proxy-in-place-using-leapp.adoc
  guides/common/modules/ref_required-boot-order-for-network-boot.adoc
  guides/common/modules/ref_template-sync-settings.adoc
  guides/doc-Planning_for_Project/topics/Provisioning_Concepts.adoc
  guides/doc-Quickstart/master.adoc
  guides/doc-Tuning_Performance/master.adoc
Labels: tech review done, style review done

#3423 Formatting: One sentence per line
  guides/common/modules/con_upgrade-paths.adoc
Labels: tech review done, style review done

#3411 Salt repo update
  guides/common/attributes-base.adoc
  guides/common/modules/con_introduction-to-salt.adoc
  guides/common/modules/con_salt-architecture.adoc
  guides/common/modules/proc_providing-the-salt-client-to-salt-minions.adoc
  guides/doc-Managing_Configurations_Salt/master.adoc
Labels: tech review done, style review done

#3426 Fix VMware capitalization
  guides/common/modules/proc_adding-vmware-details-to-a-compute-profile.adoc
  guides/common/modules/proc_adding-vmware-images-to-server.adoc
Labels: style review done

#3429 Update links to RHEL docs
  guides/common/modules/con_kickstart-workflow.adoc
  guides/common/modules/proc_creating-a-host.adoc
  guides/common/modules/proc_editing-the-system-purpose-of-a-host.adoc
  guides/common/modules/proc_editing-the-system-purpose-of-multiple-hosts.adoc
  guides/common/modules/ref_kinds-of-provisioning-templates.adoc
  guides/common/modules/ref_storage-requirements.adoc
Labels: tech review done, style review done

#3428 Review introductions to template sync procedures
  guides/common/assembly_synchronizing-template-repositories.adoc
  guides/common/modules/con_importing-and-exporting-templates.adoc
  guides/common/modules/con_synchronizing-template-repositories.adoc
  guides/common/modules/con_using-repository-sources.adoc
  guides/common/modules/proc_exporting-templates.adoc
  guides/common/modules/proc_importing-templates.adoc
  guides/common/modules/proc_synchronizing-templates-with-a-local-directory.adoc
  guides/common/modules/proc_synchronizing-templates-with-an-existing-repository.adoc
Labels: tech review done, style review done

#3413 Turn chronyd module into a short prereq (3.11)
  guides/common/assembly_installing-capsule-server.adoc
  guides/common/assembly_installing-satellite-server-disconnected.adoc
  guides/common/assembly_installing-server-connected.adoc
  guides/common/assembly_preparing-smartproxyservers-for-load-balancing.adoc
  guides/common/modules/proc_synchronizing-the-system-clock-with-chronyd.adoc
  guides/common/modules/ref_system-requirements.adoc
Labels: tech review done, style review done, Waiting on contributor

#3396 Add hint about replacing example.com
  guides/common/modules/proc_configuring-pcp-data-collection.adoc
Labels: style review done, Needs tech review

#3435 Update links to RHEL docs (#3429)
  guides/common/modules/con_kickstart-workflow.adoc
  guides/common/modules/proc_creating-a-host.adoc
  guides/common/modules/proc_editing-the-system-purpose-of-a-host.adoc
  guides/common/modules/proc_editing-the-system-purpose-of-multiple-hosts.adoc
  guides/common/modules/ref_kinds-of-provisioning-templates.adoc
  guides/common/modules/ref_storage-requirements.adoc
Labels: tech review done, style review done

#3432 hide "dnf needs-restarting" on Satellite, foreman-maintain does hint
  guides/common/modules/snip_steps-needs-reboot.adoc
Labels: tech review done, style review done

#3441 Add oxford comma
  guides/common/modules/ref_template-sync-settings.adoc
Labels: tech review done, style review done

#3434 Fix capitalization of "Ansible module"
  guides/common/modules/proc_registering-a-host.adoc
Labels: tech review done, style review done

#3421 Turn chronyd module into a short prereq (3.9)
  guides/common/assembly_installing-capsule-server.adoc
  guides/common/assembly_installing-satellite-server-disconnected.adoc
  guides/common/assembly_installing-server-connected.adoc
  guides/common/modules/con_prerequisites-for-configuring-smart-proxy-server-for-load-balancing.adoc
  guides/common/modules/proc_synchronizing-the-system-clock-with-chronyd.adoc
  guides/common/modules/ref_system-requirements.adoc
Labels: tech review done, style review done, Needs re-review

#3433 Rethink the approach to documenting package management
  guides/common/assembly_maintaining-server.adoc
  guides/common/modules/proc_managing-packages-on-the-base-operating-system.adoc
  guides/common/modules/ref_managing-packages-on-the-base-operating-system.adoc
  guides/doc-Administering_Project/master.adoc
Labels: tech review done, style review done

#3437 Add link to Admin Guide for SCA
  guides/common/modules/proc_importing-a-subscription-manifest-into-foreman-server.adoc
Labels: tech review done, style review done

#3449 Fix markup in deploying CA cert with REX
  guides/common/modules/proc_deploying-the-ca-certificate-on-a-host-by-using-ansible-rex.adoc
  guides/common/modules/proc_deploying-the-ca-certificate-on-a-host-by-using-script-rex.adoc
Labels: style review done

#3380 Use Katello API for GPG pub keys of custom content
  guides/common/modules/proc_registering-a-host.adoc
Labels: tech review done, style review done

#3436 Add list of required SUSE content for host registration
  guides/common/modules/proc_registering-a-host.adoc
  guides/common/modules/snip_prerequisites-content-for-sles.adoc
Labels: tech review done, style review done

#3398 Fix command to generate Puppetserver CA certs for load balancer
  guides/common/modules/proc_configuring-smart-proxy-server-with-custom-ssl-certificates-to-generate-and-sign-puppet-certificates.adoc
  guides/common/modules/proc_configuring-smart-proxy-server-with-default-ssl-certificates-to-generate-and-sign-puppet-certificates.adoc
Labels: tech review done, style review done

#3446 Small fix for a procedure step
  guides/common/modules/proc_associating-a-virtual-machine-from-a-hypervisor.adoc
Labels: tech review done, style review done

#3453 Use tocify JS for dynamic TOC [upstream only]
  guides/common/docinfo.html
  guides/common/header.adoc
  web/content/js/jquery-1.11.3.min.js
  web/content/js/jquery-ui.min.js
  web/content/js/jquery.tocify.min.js
Labels: tech review done, style review done

#3457 Add supported platforms in provisioning
  guides/common/assembly_introduction-to-provisioning.adoc
  guides/common/modules/ref_supported-clients-in-registration.adoc
  guides/common/modules/ref_supported-host-platforms-in-provisioning.adoc
  guides/common/modules/snip_supported-client-architectures.adoc
Labels: style review done

#3462 Fix permissions required to register a host
  guides/common/modules/proc_registering-a-host.adoc
Labels: style review done

#3466 Clarify support content types for exports
  guides/common/modules/proc_exporting-a-content-view-version-in-a-syncable-format.adoc
  guides/common/modules/proc_exporting-a-content-view-version-incrementally.adoc
  guides/common/modules/proc_exporting-a-content-view-version.adoc
  guides/common/modules/proc_exporting-a-repository-in-a-syncable-format.adoc
  guides/common/modules/proc_exporting-a-repository-incrementally-in-a-syncable-format.adoc
  guides/common/modules/proc_exporting-a-repository-incrementally.adoc
  guides/common/modules/proc_exporting-a-repository.adoc
  guides/common/modules/proc_exporting-the-library-environment-in-a-syncable-format.adoc
  guides/common/modules/proc_exporting-the-library-environment-incrementally.adoc
  guides/common/modules/proc_exporting-the-library-environment.adoc
  guides/common/modules/snip_content-types-export.adoc
  guides/common/modules/snip_content-types-syncable-export.adoc
  guides/common/modules/snip_generating-content.adoc
  guides/common/modules/snip_syncable-exports.adoc
Labels: tech review done, style review done

#3463 Document download policy for file-type content
  guides/common/modules/proc_creating-a-custom-file-type-repository.adoc
Labels: tech review done, style review done

#3477 Foreman 3.11.5 release notes
  guides/doc-Release_Notes/master.adoc
  guides/doc-Release_Notes/topics/foreman-3.11.5.adoc
Labels: Not yet reviewed

#2145 Add SecureBoot support for arbitrary operating systems to "Grub2 UEFI" PXE loaders
  guides/common/assembly_using-pxe-to-provision-hosts.adoc
  guides/common/modules/con_using-pxe-to-provision-hosts.adoc
  guides/common/modules/proc_configuring-smart-proxy-to-provision-secure-boot-enabled-hosts.adoc
Labels: style review done
