Repository theforeman/foreman-documentation, pull requests merged in 2024-01, with the labels that each got.

#2639 Specify adding individual Proxmox nodes
  guides/common/modules/proc_adding-a-proxmox-connection-to-server.adoc
  guides/common/modules/proc_adding-proxmox-details-to-a-compute-profile.adoc
  guides/common/modules/proc_creating-hosts-on-proxmox.adoc
Labels: Not yet reviewed

#2663 Add missing permission for VMware provisioning with cloud-init
  guides/common/modules/proc_creating-a-vmware-user.adoc
Labels: Not yet reviewed

#2673 Keep firewall-cmd for mqtt consistent
  guides/common/modules/proc_configuring-remote-execution-for-pull-client-on-project-server.adoc
Labels: Needs tech review

#2630 Fix firewall commands for ports and services
  guides/common/modules/proc_enabling-client-connections-to-satellite.adoc
Labels: Needs tech review

#2678 Clean up Install Media over NFS protocol in Provisioning
  guides/common/modules/proc_adding-installation-media.adoc
Labels: Needs tech review

#2695 Hide OSTree content for Satellite
  guides/common/modules/con_content-types-overview.adoc
  guides/doc-Managing_Content/master.adoc
Labels: Not yet reviewed

#2685 Add more details on host group settings and nested host groups
  guides/common/assembly_administering-hosts.adoc
  guides/common/assembly_working-with-host-groups.adoc
  guides/common/modules/con_host-group-settings-and-nested-host-groups.adoc
  guides/common/modules/con_working-with-host-groups.adoc
  guides/common/modules/proc_creating-a-host-group.adoc
  guides/doc-Managing_Hosts/master.adoc
Labels: tech review done, style review done

#2703 Fix link rendering in downstream Satellite
  guides/common/modules/proc_creating-a-report-template.adoc
Labels: Needs re-review

#2696 Disclaim other OSs for Satellite
  guides/common/modules/con_types-of-provisioning-templates.adoc
Labels: Needs re-review
