Repository theforeman/foreman-documentation, pull requests merged in 2025-08, with the labels that each got.

#4085 Update advisorengine attribute with insights-iop attribute
  guides/common/assembly_installing-and-configuring-advisorengine.adoc
  guides/common/assembly_installing-and-configuring-insights-iop.adoc
  guides/common/attributes-base.adoc
  guides/common/attributes-satellite.adoc
  guides/common/modules/con_installing-and-configuring-advisorengine.adoc
  guides/common/modules/con_installing-and-configuring-insights-iop.adoc
  guides/common/modules/proc_installing-insights-iop-on-a-connected-project-context-server.adoc
  guides/common/modules/proc_installing-insights-iop-using-import-and-export.adoc
  guides/common/modules/proc_installing-insights-iop-with-the-project-context-iso-image.adoc
  guides/common/modules/ref_storage-requirements.adoc
  guides/doc-Installing_Server/master.adoc
  guides/doc-Installing_Server_Disconnected/master.adoc
Labels: tech review done, style review done

#4107 Use ProjectServer in favor of Project server
  guides/common/modules/con_pulp-data-considerations.adoc
Labels: style review done

#4086 Update cmd to add krb principal with Samba
  guides/common/modules/proc_configuring-the-active-directory-authentication-source-on-projectserver.adoc
Labels: tech review done, style review done, testing done

#4088 Make Configuring Load Balancers fit for all builds
  guides/common/modules/con_registering-clients-to-the-load-balancer.adoc
  guides/doc-Configuring_Load_Balancer/master.adoc
Labels: tech review done, style review done

#3938 Add procedure for Viewing CVEs from IoP
  guides/common/assembly_monitoring-hosts-by-using-insights.adoc
  guides/common/modules/proc_examining-vulnerability-of-systems.adoc
Labels: tech review done, style review done, Needs testing

#4109 correct installer option to connect to libvirt for dns/dhcp
  guides/common/modules/proc_integrating-the-libvirt-api-to-manage-dhcp-leases.adoc
  guides/common/modules/proc_integrating-the-libvirt-api-to-manage-dns-records.adoc
Labels: tech review done, style review done

#4066 Show "Managing organizations and locations" guide for all builds
  guides/common/modules/con_managing-organizations.adoc
  guides/common/modules/con_planning-organization-and-location-context.adoc
  guides/common/modules/proc_creating-a-location.adoc
  guides/common/modules/proc_deleting-a-location.adoc
  guides/common/modules/proc_deleting-an-organization.adoc
  guides/doc-Managing_Organizations_and_Locations/master.adoc
Labels: tech review done, style review done

#4036 Clarify PostgreSQL versions on Debian/Ubuntu
  guides/common/attributes-foreman-deb.adoc
  guides/common/modules/con_migrating-from-internal-databases-to-external-databases.adoc
  guides/common/modules/con_postgresql-as-an-external-database-considerations.adoc
  guides/common/modules/proc_installing-postgresql.adoc
  guides/common/modules/proc_migrating-to-external-databases.adoc
Labels: tech review done, style review done

#4113 Add banner for unsupported and pre-release to 3.15
  guides/common/header.adoc
  guides/doc-Configuring_virt_who_VM_Subscriptions/master.adoc
  guides/doc-Managing_Content/master.adoc
  guides/doc-Managing_Security_Compliance/master.adoc
  web/content/css/_ribbon.scss
  web/content/css/default.scss
Labels: style review done

#4114 Add banner for unsupported and pre-release to 3.14
  guides/common/header.adoc
  guides/doc-Configuring_virt_who_VM_Subscriptions/master.adoc
  guides/doc-Managing_Content/master.adoc
  guides/doc-Managing_Security_Compliance/master.adoc
  web/content/css/_ribbon.scss
  web/content/css/default.scss
Labels: Needs style review

#4006 Remove unused RHEL 7 attributes
  guides/common/attributes-satellite.adoc
Labels: style review done, Needs tech review, Needs testing

#4004 Remove distribution attribute when configuring repos
  guides/common/modules/proc_configuring-repositories-el.adoc
  guides/common/modules/proc_configuring-repositories-foreman-el.adoc
Labels: tech review done, style review done

#4098 Add 'Report issue' banner
  guides/common/header.adoc
  web/content/css/_ribbon.scss
Labels: tech review done, style review done

#4125 Fix build errors in Planning
  guides/doc-Planning_for_Project/master.adoc
Labels: Needs tech review, Needs style review, Needs testing

#4121 Update RHSM port in diagram to 443
  guides/common/images/topology-direct-satellite.png
  guides/common/images/topology-direct-satellite.svg
  guides/common/images/topology-isolated-satellite.png
  guides/common/images/topology-isolated-satellite.svg
Labels: tech review done, style review done

#4137 Remove old AsciiDoc part headings from Planning (3.15)
  guides/common/assembly_foreman-deployment-planning.adoc
  guides/common/assembly_foreman-overview-and-concepts.adoc
  guides/common/modules/con_foreman-deployment-planning.adoc
  guides/common/modules/con_foreman-overview.adoc
  guides/common/modules/ref_additional-resources-project-infrastructure-organization-concepts.adoc
  guides/doc-Planning_for_Project/master.adoc
Labels: Needs tech review, Needs style review, Needs testing

#4135 Move ribbons out of common/header.adoc
  guides/common/header.adoc
  guides/common/ribbons.adoc
  guides/doc-Administering_Project/master.adoc
  guides/doc-Configuring_Load_Balancer/master.adoc
  guides/doc-Configuring_User_Authentication/master.adoc
  guides/doc-Configuring_virt_who_VM_Subscriptions/master.adoc
  guides/doc-Deploying_Hosts_AppCentric/master.adoc
  guides/doc-Hammer_CLI/master.adoc
  guides/doc-Installing_Proxy/master.adoc
  guides/doc-Installing_Server/master.adoc
  guides/doc-Installing_Server_Disconnected/master.adoc
  guides/doc-Installing_Server_foremanctl/master.adoc
  guides/doc-Integrating_Provisioning_Infrastructure_Services/master.adoc
  guides/doc-Managing_Configurations_Ansible/master.adoc
  guides/doc-Managing_Configurations_Puppet/master.adoc
  guides/doc-Managing_Configurations_Salt/master.adoc
  guides/doc-Managing_Content/master.adoc
  guides/doc-Managing_Hosts/master.adoc
  guides/doc-Managing_Organizations_and_Locations/master.adoc
  guides/doc-Managing_Security_Compliance/master.adoc
  guides/doc-Monitoring_Project/master.adoc
  guides/doc-Planning_for_Project/master.adoc
  guides/doc-Project_API/master.adoc
  guides/doc-Project_Ansible_Collection/master.adoc
  guides/doc-Provisioning_Hosts/master.adoc
  guides/doc-Quickstart/master.adoc
  guides/doc-Release_Notes/master.adoc
  guides/doc-Tuning_Performance/master.adoc
  guides/doc-Updating_Project/master.adoc
  guides/doc-Upgrading_Project/master.adoc
  guides/doc-Upgrading_Project_Disconnected/master.adoc
Labels: Needs tech review, Needs style review, Needs testing

#3841 Remove instructions to place GCE key in /etc/foreman
  guides/common/modules/proc_adding-a-google-gce-connection.adoc
Labels: tech review done, style review done

#4156 Fix logo heading
  web/Rules
  web/content/css/_nav.scss
  web/content/js/nav.js
  web/content/ostrich-black.ttf
Labels: Needs tech review, Needs style review

#4154 Update link in 'Report issue' ribbon
  guides/common/ribbons.adoc
Labels: style review done, testing done

#4108 Split off Ansible procedures into separate modules
  guides/common/assembly_building-cloud-images.adoc
  guides/common/assembly_registering-hosts.adoc
  guides/common/assembly_synchronizing-template-repositories.adoc
  guides/common/attributes-base.adoc
  guides/common/attributes-satellite.adoc
  guides/common/modules/proc_importing-templates-using-ansible.adoc
  guides/common/modules/proc_importing-templates.adoc
  guides/common/modules/proc_registering-a-host-using-ansible.adoc
  guides/common/modules/proc_registering-a-host.adoc
Labels: style review done

#4158 Add 'RC' DocState
  README.md
  guides/common/attributes.adoc
  guides/common/header.adoc
  guides/common/ribbons.adoc
Labels: Needs tech review

#4177 Improve call home in provisioning diagrams
  guides/image-sources/prov-call-home.iuml
  guides/image-sources/provisioning-image-finish.plantuml
  guides/image-sources/provisioning-image-userdata.plantuml
  guides/image-sources/provisioning-installer-bootdisk-fullhost.plantuml
  guides/image-sources/provisioning-installer-bootdisk-subnet.plantuml
  guides/image-sources/provisioning-installer-httpboot.plantuml
  guides/image-sources/provisioning-installer-pxeboot.plantuml
Labels: tech review done, style review done

#4176 Fix attribute usage for Client OS
  guides/common/attributes-base.adoc
  guides/common/modules/con_aws-requirements.adoc
  guides/common/modules/con_composite-content-views-overview.adoc
  guides/common/modules/con_content-filter-examples.adoc
  guides/common/modules/con_managing-errata.adoc
  guides/common/modules/con_provisioning-cloud-instances-on-microsoft-azure-resource-manager.adoc
  guides/common/modules/con_resolving-package-dependencies.adoc
  guides/common/modules/proc_applying-errata-to-multiple-hosts.adoc
  guides/common/modules/proc_configuring-a-finish-template-for-amazon-ec2.adoc
  guides/common/modules/proc_configuring-the-freeipa-authentication-source-on-projectserver.adoc
  guides/common/modules/proc_creating-custom-rhel-images.adoc
  guides/common/modules/proc_editing-the-system-purpose-of-a-host.adoc
  guides/common/modules/proc_exporting-a-content-view-version-incrementally.adoc
  guides/common/modules/proc_exporting-a-repository-incrementally-in-a-syncable-format.adoc
  guides/common/modules/proc_exporting-a-repository-incrementally.adoc
  guides/common/modules/proc_exporting-the-library-environment-incrementally.adoc
  guides/common/modules/proc_preparing-a-synchronized-kickstart-repository.adoc
  guides/common/modules/proc_registering-to-red-hat-subscription-management.adoc
  guides/common/modules/proc_restricting-customrepoid-to-a-specific-operating-system-version-or-architecture-in-project.adoc
  guides/common/modules/proc_updating-disconnected-server-on-EL9.adoc
  guides/common/modules/proc_using-activation-keys-for-host-registration.adoc
  guides/common/modules/ref_capsule-storage-requirements.adoc
  guides/common/modules/ref_playbook-example-enable-repositories-and-create-a-content-view.adoc
  guides/common/modules/ref_playbook-example-synchronize-repositories-and-publish-a-content-view.adoc
  guides/common/modules/ref_storage-guidelines.adoc
  guides/common/modules/ref_storage-requirements.adoc
  guides/common/modules/snip_prerequisites-common-compute-resource.adoc
  guides/doc-Updating_Project/master.adoc
Labels: tech review done, style review done

#4179 Install Hammer CLI plugin for foreman_discovery
  guides/common/modules/proc_installing-the-discovery-service.adoc
Labels: style review done, Needs tech review, Needs testing

#4103 Make "Installing Foreman Server" suitable for all builds - part I
  guides/common/assembly_configuring-repositories.adoc
  guides/common/assembly_installing-capsule-server.adoc
  guides/common/assembly_installing-satellite-server-disconnected.adoc
  guides/common/assembly_installing-server-connected.adoc
  guides/common/assembly_managing-red-hat-subscriptions.adoc
  guides/common/assembly_preparing-environment-for-project-server-installation.adoc
  guides/common/assembly_preparing-smartproxyservers-for-load-balancing.adoc
  guides/common/modules/con_aws-requirements.adoc
  guides/common/modules/con_configuring-project-server.adoc
  guides/common/modules/con_preparing-your-environment-for-project-installation-in-an-ipv6-network.adoc
  guides/common/modules/proc_configuring-project-installation.adoc
  guides/common/modules/proc_enabling-client-connections-to-project-server.adoc
  guides/common/modules/proc_importing-a-subscription-manifest-into-foreman-server.adoc
  guides/common/modules/proc_installing-project-server-packages.adoc
  guides/common/modules/proc_preparing-for-using-external-databases.adoc
  guides/common/modules/proc_registering-to-red-hat-subscription-management.adoc
  guides/common/modules/proc_verifying-dns-resolution.adoc
  guides/common/modules/ref_port-and-firewall-requirements.adoc
  guides/common/modules/ref_system-requirements.adoc
  guides/doc-Quickstart/master.adoc
Labels: style review done, Needs tech review

#3966 Use SmartProxy in favor of proxy
  guides/common/assembly_configuring-satellite-with-an-http-proxy.adoc
  guides/common/modules/proc_configuring-http-proxy-for-pxe-file-downloads-on-smart-proxies.adoc
Labels: tech review done, style review done

#4160 Add Katello 4.18 documentation
  guides/doc-Release_Notes/master.adoc
  guides/doc-Release_Notes/topics/katello-4.18.0.adoc
  guides/doc-Release_Notes/topics/katello-contributors.adoc
Labels: tech review done, style review done

#4180 Add FDI 5.1
  guides/common/modules/proc_installing-the-discovery-service.adoc
Labels: tech review done, style review done

#4186 Use sentence case for RN headings
  guides/doc-Release_Notes/master.adoc
  guides/doc-Release_Notes/topics/foreman.adoc
  guides/doc-Release_Notes/topics/katello.adoc
Labels: tech review done, style review done

#4173 Change instructions on importing syncable exports
  guides/common/modules/snip_generating-content.adoc
Labels: tech review done, style review done

#4096 Review storage requirements
  guides/common/assembly_planning-project-server-installation.adoc
  guides/common/assembly_preparing-environment-for-capsule-installation.adoc
  guides/common/modules/proc_installing-postgresql.adoc
  guides/common/modules/ref_best-practices-for-optimizing-storage.adoc
  guides/common/modules/ref_storage-guidelines.adoc
  guides/common/modules/ref_storage-requirements.adoc
Labels: tech review done, style review done

#4178 Fix issues reported by asciidoctor-dita-vale (Configuring Load Balancer)
  guides/common/assembly_installing-the-load-balancer.adoc
  guides/common/assembly_registering-clients-to-the-load-balancer.adoc
  guides/common/modules/con_configuring-smartproxyservers-with-custom-ssl-certificates-for-load-balancing-without-puppet.adoc
  guides/common/modules/con_configuring-smartproxyservers-with-default-ssl-certificates-for-load-balancing-without-puppet.adoc
  guides/common/modules/con_installing-and-configuring-the-load-balancer.adoc
  guides/common/modules/con_registering-clients-to-the-load-balancer.adoc
  guides/common/modules/proc_configuring-repositories-foreman-el.adoc
  guides/common/modules/proc_configuring-repositories-proxy.adoc
  guides/common/modules/proc_configuring-repositories-satellite.adoc
  guides/common/modules/proc_installing-the-load-balancer.adoc
  guides/common/modules/proc_registering-a-host-to-the-load-balancer-using-api.adoc
  guides/common/modules/proc_registering-a-host-to-the-load-balancer-using-cli.adoc
  guides/common/modules/proc_registering-a-host-to-the-load-balancer-using-web-ui.adoc
  guides/common/modules/proc_registering-capsule-to-satellite-server.adoc
  guides/common/modules/proc_registering-clients-using-host-registration.adoc
  guides/common/modules/proc_registering-clients-using-the-bootstrap-script.adoc
  guides/common/modules/proc_setting-the-load-balancer-for-host-registration.adoc
  guides/common/modules/ref_ports-configuration-for-the-load-balancer.adoc
  guides/common/modules/ref_prerequisites-configuring-smartproxyservers-for-load-balancing.adoc
  guides/common/modules/snip_host-registration-steps.adoc
  guides/common/modules/snip_verification-enabled-repolist.adoc
  guides/doc-Configuring_Load_Balancer/master.adoc
Labels: style review done

#4070 Review system requirements
  guides/common/attributes-base.adoc
  guides/common/attributes-katello.adoc
  guides/common/attributes-orcharhino.adoc
  guides/common/attributes-satellite.adoc
  guides/common/modules/con_supported-usage-of-project-components.adoc
  guides/common/modules/ref_supported-operating-systems.adoc
  guides/common/modules/ref_system-requirements.adoc
Labels: tech review done, style review done
