Repository theforeman/foreman-documentation, pull requests merged in 2025-06, with the labels that each got.

#3900 Update system architecture diagram for Satellite
  guides/common/images/system-architecture-satellite.png
  guides/common/images/system-architecture-satellite.svg
Labels: style review done

#3888 Mention dbus-tools package required for EL 9 cloud-init images
  guides/common/modules/proc_using-vmware-cloud-init-and-userdata-templates-for-provisioning.adoc
Labels: tech review done, style review done

#3887 Use AAP as the value of :awx: attribute for Satellite
  guides/common/attributes-base.adoc
  guides/common/attributes-satellite.adoc
  guides/common/modules/con_integrating-project-and-awx.adoc
  guides/common/modules/proc_configuring-provisioning-callback-for-a-host.adoc
Labels: tech review done, style review done

#3911 Updating documentation for Katello 4.17.0.rc2
  guides/doc-Release_Notes/topics/katello-4.17.0.adoc
Labels: tech review done, style review done

#3899 Fix maintenance repo version
  guides/common/modules/proc_upgrading-a-connected-project-server.adoc
Labels: tech review done, style review done

#3894 Separate planning tasks from prerequisites
  guides/common/assembly_planning-project-server-installation.adoc
  guides/common/assembly_preparing-environment-for-installation.adoc
  guides/common/assembly_preparing-environment-for-project-server-installation.adoc
  guides/common/modules/con_planning-project-server-installation.adoc
  guides/common/modules/con_preparing-environment-for-project-server-installation.adoc
  guides/doc-Installing_Server/master.adoc
  guides/doc-Installing_Server_Disconnected/master.adoc
Labels: style review done

#3881 document how to use an http proxy with the ansible collection
  guides/common/modules/proc_creating-a-playbook-with-modules-from-project-ansible-collection.adoc
Labels: tech review done, style review done

#3800 Drop all oVirt/RHV
  guides/common/assembly_provisioning-virtual-machines-rhv.adoc
  guides/common/attributes-base.adoc
  guides/common/attributes-satellite.adoc
  guides/common/modules/con_overview-of-hosts-in-project.adoc
  guides/common/modules/con_provisioning-methods-in-project.adoc
  guides/common/modules/con_provisioning-virtual-machines-on-ovirt.adoc
  guides/common/modules/proc_adding-images-to-server.adoc
  guides/common/modules/proc_adding-rhv-connection.adoc
  guides/common/modules/proc_adding-rhv-details-to-a-compute-profile.adoc
  guides/common/modules/proc_booting-virtual-machines.adoc
  guides/common/modules/proc_configuring-repositories-proxy.adoc
  guides/common/modules/proc_creating-network-or-image-based-hosts.adoc
  guides/common/modules/proc_installing-ovirt-plugin.adoc
  guides/common/modules/proc_preparing-cloud-init-images-in-rhv.adoc
  guides/common/modules/proc_searching-for-hosts-with-a-specific-fact-value.adoc
  guides/common/modules/proc_using-novnc-to-access-virtual-machines.adoc
  guides/common/modules/ref_supported-virtualization-infrastructures.adoc
  guides/common/modules/ref_system-requirements.adoc
  guides/common/modules/ref_troubleshooting-virt-who.adoc
  guides/common/modules/snip_steps-create-a-host-tab-interfaces.adoc
  guides/doc-Provisioning_Hosts/master.adoc
Labels: tech review done, style review done, testing done

#3921 Hide foreman_resource_quota plugin for Satellite
  guides/doc-Administering_Project/master.adoc
Labels: Needs tech review, Needs style review, Needs testing

#3925 3.15 GA
  web/releases/3.13.json
  web/releases/3.15.json
Labels: Needs tech review, Needs style review

#3926 3.15 going GA, updating support status
  guides/common/attributes.adoc
Labels: Needs tech review, Needs style review, Needs testing

#3864 Correct media umount path
  guides/common/modules/proc_configuring-installation.adoc
Labels: style review done, Needs tech review

#3809 Omit equal sign for bool options in foreman-installer/Hammer CLI
  guides/common/modules/con_managing-ostree-content.adoc
  guides/common/modules/con_transport-modes-for-remote-execution.adoc
  guides/common/modules/proc_configuring-a-bmc-interface.adoc
  guides/common/modules/proc_configuring-host-based-access-control-for-freeipa-users-logging-in-to-project.adoc
  guides/common/modules/proc_configuring-pull-based-transport-for-remote-execution.adoc
  guides/common/modules/proc_configuring-puma-threads.adoc
  guides/common/modules/proc_configuring-puma-workers.adoc
  guides/common/modules/proc_configuring-the-active-directory-authentication-source-on-projectserver.adoc
  guides/common/modules/proc_configuring-the-fallback-to-any-smartproxy-remote-execution-setting-in-project.adoc
  guides/common/modules/proc_configuring-the-freeipa-authentication-source-on-projectserver.adoc
  guides/common/modules/proc_configuring-the-global-smartproxy-remote-execution-setting-in-project.adoc
  guides/common/modules/proc_executing-a-remote-job.adoc
  guides/common/modules/proc_installing-smart-proxy-server.adoc
  guides/common/modules/proc_installing-the-discovery-service.adoc
  guides/common/modules/proc_manually-tuning-puma-workers-and-threads-count.adoc
  guides/common/modules/proc_restoring-manual-changes-overwritten-by-a-puppet-run.adoc
  guides/common/modules/proc_upgrading-a-disconnected-project-server.adoc
  guides/common/modules/proc_upgrading-your-project-server.adoc
  guides/common/modules/ref_port-and-firewall-requirements.adoc
  guides/common/modules/ref_smart-proxy-port-and-firewall-requirements.adoc
Labels: tech review done, style review done

#3928 Retroactively add 4.16 warning about container naming
  guides/doc-Release_Notes/topics/katello.adoc
Labels: Needs tech review, Needs style review, Needs testing

#3806 Make multiple CV environments fit for all builds
  guides/common/assembly_managing-content-view-environments.adoc
  guides/common/modules/con_comparison-of-content-view-environments-and-composite-content-views.adoc
  guides/common/modules/con_content-view-environment-ordering-and-priority.adoc
  guides/common/modules/con_content-view-environments-overview.adoc
  guides/common/modules/proc_assigning-content-view-environments-to-activation-keys.adoc
  guides/common/modules/proc_removing-all-content-view-environments-from-an-activation-key.adoc
Labels: tech review done, style review done

#3907 Improve section on post-upgrade tasks
  guides/common/modules/proc_performing-post-upgrade-tasks.adoc
  guides/common/modules/proc_upgrading-a-disconnected-project-server.adoc
  guides/common/modules/snip_post-upgrade-tasks.adoc
  guides/common/modules/snip_upgrading-your-project-server.adoc
  guides/doc-Upgrading_Project/master.adoc
  guides/doc-Upgrading_Project_Disconnected/master.adoc
Labels: tech review done, style review done

#3885 Improve proxy upgrade procedure
  guides/common/modules/proc_synchronizing-the-new-repositories.adoc
  guides/common/modules/proc_upgrading-smartproxy-server.adoc
  guides/common/modules/snip_steps-needs-reboot.adoc
  guides/common/modules/snip_upgrading-smartproxy-server.adoc
  guides/doc-Upgrading_Project/master.adoc
Labels: tech review done, style review done

#3942 Bring back the Puma workers and threads recommendations
  guides/common/modules/con_puma-workers-and-threads-recommendations.adoc
  guides/doc-Tuning_Performance/master.adoc
Labels: tech review done, style review done

#3935 Salt report upload
  guides/common/modules/con_introduction-to-salt.adoc
  guides/common/modules/proc_enabling-salt-report-uploads.adoc
Labels: tech review done, style review done

#3924 Use upstream term in file name
  guides/common/assembly_preparing-environment-for-project-server-installation.adoc
  guides/common/modules/proc_enabling-client-connections-to-project-server.adoc
Labels: style review done

#3080 Drop mentions of --foreman-proxy-register-in-foreman
  guides/common/modules/proc_configuring-capsule-default-certificate.adoc
  guides/common/modules/proc_configuring-remaining-smart-proxy-servers-with-custom-ssl-certificates.adoc
  guides/common/modules/proc_configuring-remaining-smart-proxy-servers-with-default-ssl-certificates-for-load-balancing.adoc
  guides/common/modules/proc_configuring-smart-proxy-server-with-custom-ssl-certificates-for-load-balancing-without-puppet.adoc
  guides/common/modules/proc_configuring-smart-proxy-server-with-custom-ssl-certificates-to-generate-and-sign-puppet-certificates.adoc
  guides/common/modules/proc_configuring-smart-proxy-server-with-default-ssl-certificates-for-load-balancing-without-puppet.adoc
  guides/common/modules/proc_configuring-smart-proxy-server-with-default-ssl-certificates-to-generate-and-sign-puppet-certificates.adoc
  guides/common/modules/proc_deploying-a-custom-ssl-certificate-to-smart-proxy-server.adoc
  guides/common/modules/proc_renewing-a-custom-ssl-certificate-on-smart-proxy.adoc
Labels: tech review done, style review done

#3876 Update the external DB upgrade section
  guides/common/assembly_upgrading-the-external-database.adoc
  guides/common/modules/con_upgrade-paths.adoc
  guides/common/modules/con_upgrading-the-external-database.adoc
  guides/common/modules/proc_upgrading-a-connected-project-server.adoc
  guides/common/modules/proc_upgrading-a-disconnected-project-server.adoc
  guides/common/modules/proc_upgrading-postgresql-on-the-external-database-system.adoc
  guides/common/modules/proc_upgrading-the-external-database-operating-system.adoc
  guides/common/modules/proc_upgrading-the-external-database.adoc
  guides/doc-Upgrading_Project/master.adoc
  guides/doc-Upgrading_Project_Disconnected/master.adoc
Labels: tech review done, style review done
