Repository theforeman/foreman-documentation, pull requests merged in 2025-03, with the labels that each got.

#3705 Move parent-context from master.adoc to assembly
  guides/common/assembly_preparing-for-disaster-recovery-and-recovering-from-data-loss.adoc
  guides/doc-Administering_Project/master.adoc
Labels: style review done

#3652 Remove host columns overview
  guides/common/modules/proc_selecting-host-columns.adoc
  guides/common/modules/ref_overview-of-the-host-columns.adoc
  guides/doc-Managing_Hosts/master.adoc
Labels: tech review done, style review done

#3703 Clarify that some data may be missing from the host table if not provided by any source
  guides/common/modules/proc_selecting-host-columns.adoc
Labels: tech review done, style review done

#3692 Update xrefs that are broken in satellite d/s builds
  guides/common/modules/proc_configuring-project-to-use-ldap.adoc
  guides/common/modules/proc_creating-an-api-only-user.adoc
  guides/common/modules/proc_exporting-templates.adoc
  guides/common/modules/proc_importing-templates.adoc
Labels: style review done

#3707 Remove Postgres space prerequisite
  guides/common/modules/con_upgrading-prerequisites.adoc
Labels: tech review done, style review done

#3690 Clarify language around operating system updates
  guides/common/modules/con_updating-project-to-next-patch-version.adoc
Labels: tech review done, style review done

#3654 Add Insights settings for proxy/firewall
  guides/common/modules/ref_port-and-firewall-requirements.adoc
  guides/common/modules/snip_host-names-for-http-proxy.adoc
Labels: tech review done, style review done

#3609 Adding new concepts and procedures for Multi CV hosts and AKs
  guides/common/assembly_managing-activation-keys.adoc
  guides/common/assembly_managing-content-view-environments.adoc
  guides/common/modules/con_comparison-of-content-view-environments-and-composite-content-views.adoc
  guides/common/modules/con_content-view-environment-categories.adoc
  guides/common/modules/con_content-view-environment-ordering-and-priority.adoc
  guides/common/modules/con_content-view-environments-overview.adoc
  guides/common/modules/con_managing-content-view-environments.adoc
  guides/common/modules/con_multiple-activation-keys-and-content-view-environments.adoc
  guides/common/modules/proc_assigning-content-view-environments-to-activation-keys.adoc
  guides/common/modules/proc_assigning-content-view-environments-to-hosts-by-using-subscription-manager.adoc
  guides/common/modules/proc_assigning-content-view-environments-to-hosts.adoc
  guides/common/modules/proc_removing-all-content-view-environments-from-an-activation-key.adoc
  guides/doc-Managing_Content/master.adoc
Labels: tech review done, style review done, testing done

#3679 Add DR with active-passive and external storage
  guides/common/assembly_disaster-recovery-for-active-and-passive-project-server-with-external-storage.adoc
  guides/common/assembly_preparing-for-disaster-recovery-and-recovering-from-data-loss.adoc
  guides/common/modules/con_disaster-recovery-for-active-and-passive-project-server-with-external-storage.adoc
  guides/common/modules/proc_preparing-for-disaster-recovery-with-active-and-passive-project-server-with-external-storage.adoc
  guides/common/modules/proc_recovering-from-disaster-with-active-and-passive-project-server-with-external-storage.adoc
  guides/common/modules/ref_prerequisites-disaster-recovery-with-active-and-passive-project-server-and-external-storage.adoc
Labels: tech review done, style review done

#3713 update release notes 3.14.0 rc2
  guides/doc-Release_Notes/topics/foreman-3.14.0.adoc
Labels: Needs tech review, Needs style review, Needs testing

#3710 don't document how one can skip steps during backup
  guides/common/assembly_backing-up-server-and-proxy.adoc
  guides/common/modules/ref_skipping-steps-when-performing-backups.adoc
Labels: tech review done, style review done

#3600 Update package cleanup for EL 8+ cloud-init images
  guides/common/modules/proc_using-vmware-cloud-init-and-userdata-templates-for-provisioning.adoc
Labels: tech review done, style review done

#3709 Consolidate 'keycloak realm' replaceables
  guides/common/attributes-base.adoc
  guides/common/modules/proc_configuring-a-project-client-to-provide-hammer-cli-authentication-with-keycloak.adoc
Labels: style review done

#3706 Remove custom xref labels
  guides/common/modules/proc_exporting-templates.adoc
  guides/common/modules/proc_importing-templates.adoc
Labels: style review done

#3711 Fix broken xrefs in satellite d/s
  guides/common/modules/proc_configuring-project-to-use-ldap.adoc
  guides/common/modules/proc_creating-an-api-only-user.adoc
  guides/common/modules/proc_exporting-templates.adoc
  guides/common/modules/proc_importing-templates.adoc
Labels: style review done

#3699 Restructure required RHEL repos + 9, 10 to Managing content
  guides/common/modules/proc_enabling-red-hat-repositories.adoc
  guides/common/modules/ref_required-red-hat-repositories.adoc
  guides/doc-Managing_Content/master.adoc
Labels: tech review done, style review done

#3727 Bump orcharhino to 7.1
  .github/PULL_REQUEST_TEMPLATE.md
  guides/common/attributes-orcharhino.adoc
Labels: Needs tech review, Needs style review, Needs testing

#3518 Add docs for rolling content views
  guides/common/assembly_managing-content-views.adoc
  guides/common/modules/con_rolling-content-views.adoc
  guides/common/modules/proc_creating-a-rolling-content-view.adoc
Labels: tech review done, style review done

#3036 Optimize the diff text when there's no change
  .github/workflows/preview.yml
Labels: tech review done

#3722 Move ISS deployment scenarios to Planning
  guides/common/assembly_common-deployment-scenarios.adoc
  guides/common/assembly_configuring-inter-server-synchronization.adoc
  guides/common/modules/con_synchronizing-content-between-servers.adoc
Labels: style review done

#3730 Fix spelling of defining
  guides/common/modules/con_defining-role-based-access-control-policies.adoc
Labels: style review done

#3729 Super late review of PR 3679 (disaster recovery)
  guides/common/modules/proc_preparing-for-disaster-recovery-with-active-and-passive-project-server-with-external-storage.adoc
  guides/common/modules/proc_recovering-from-disaster-with-active-and-passive-project-server-with-external-storage.adoc
  guides/common/modules/ref_prerequisites-disaster-recovery-with-active-and-passive-project-server-and-external-storage.adoc
Labels: style review done

#3733 Use attribute in favor of downstream product name
  guides/common/modules/con_hammer-cli-overview.adoc
Labels: style review done

#3712 Add DR for active-passive with backup&restore
  guides/common/assembly_disaster-recovery-with-active-and-passive-project-server-and-backup-and-restore.adoc
  guides/common/assembly_preparing-for-disaster-recovery-and-recovering-from-data-loss.adoc
  guides/common/modules/con_disaster-recovery-for-active-and-passive-project-server-with-backup-and-restore.adoc
  guides/common/modules/proc_preparing-for-disaster-recovery-with-active-and-passive-project-server-and-backup-and-restore.adoc
  guides/common/modules/proc_recovering-from-disaster-with-active-and-passive-project-server-and-backup-and-restore.adoc
  guides/common/modules/ref_prerequisites-disaster-recovery-with-active-and-passive-project-server-and-backup-and-restore.adoc
Labels: tech review done, style review done

#3734 Fix broken rendering of ansible-namespace-example attr
  guides/common/attributes-base.adoc
  guides/common/attributes-satellite.adoc
  guides/common/modules/proc_viewing-the-project-ansible-modules.adoc
Labels: style review done

#3686 Add note about manifest expiry
  guides/common/modules/proc_updating-and-refreshing-red-hat-subscription-manifests.adoc
Labels: tech review done, style review done

#3728 Update notes for 3.14.0 GA
  guides/doc-Release_Notes/topics/foreman-3.14.0.adoc
  guides/doc-Release_Notes/topics/foreman.adoc
Labels: Needs tech review, Needs style review, Needs testing

#3738 Update docs for master (3.14.0)
  web/releases/3.12.json
  web/releases/3.14.json
Labels: Needs tech review, Needs style review

#3509 Add missing steps for disabling TFTP and DNS
  guides/common/modules/proc_disabling-dns-dhcp-tftp-for-unmanaged-networks.adoc
Labels: tech review done, style review done

#3743 Remove a few unused Keycloak modules
  guides/common/modules/con_configuring-keycloak-quarkus-authentication-with-piv-cards-for-project.adoc
  guides/common/modules/con_configuring-keycloak-quarkus-authentication-with-totp-cards-for-project.adoc
  guides/common/modules/con_configuring-keycloak-wildfly-authentication-with-totp-cards-for-project.adoc
Labels: style review done

#3744 Add permission to take snapshots of VMs on VMware
  guides/common/modules/proc_creating-a-vmware-user.adoc
Labels: tech review done, style review done, testing done

#3736 Clarify that SCAP contents on server might not be up-to-date
  guides/common/modules/proc_loading-the-default-scap-contents.adoc
Labels: tech review done, style review done

#3742 Drop step to reset keycloak auth
  guides/common/modules/proc_registering-project-as-a-client-of-keycloak.adoc
Labels: tech review done, style review done

#3720 Add upgrade warning for `ansible_tower_fqdn` removal
  guides/doc-Release_Notes/topics/foreman.adoc
Labels: tech review done, style review done, testing done

#3748 Replace `ansible_tower_fqdn` with `ansible_tower_api_url` in docs
  guides/common/modules/proc_configuring-provisioning-callback-for-a-host.adoc
Labels: style review done, Needs tech review, Needs testing

#3750 Remove unused texts about Kickstart repositories
  guides/common/assembly_importing-kickstart-repositories.adoc
  guides/common/modules/con_importing-kickstart-repositories.adoc
  guides/common/modules/proc_importing-kickstart-repositories.adoc
  guides/common/modules/proc_preparing-a-synchronized-kickstart-repository.adoc
Labels: style review done

#3751 Show insights procedure for orcharhino
  guides/common/assembly_monitoring-hosts-by-using-red-hat-insights.adoc
Labels: tech review done, style review done

#3754 Add missing closing quotes
  guides/common/modules/ref_port-and-firewall-requirements.adoc
Labels: style review done
