Repository theforeman/foreman-documentation, pull requests merged in 2025-01, with the labels that each got.

#3543 Fix spelling of defining
  guides/common/modules/con_defining-your-content-library.adoc
Labels: tech review done, style review done

#3546 Add a missing plus sign to ensure list continuation
  guides/common/modules/proc_creating-a-custom-ssl-certificate.adoc
Labels: tech review done, style review done

#3542 Remove manual steps from prerequisites - convert2rhel
  guides/common/modules/con_converting-a-host-to-rhel.adoc
Labels: tech review done, style review done

#3525 Move Deployment Scenarios sections into separate modules
  guides/common/assembly_common-deployment-scenarios.adoc
  guides/common/modules/con_common-deployment-scenarios.adoc
  guides/common/modules/con_content-view-scenarios.adoc
  guides/common/modules/con_defining-content-access-strategies-for-hosts.adoc
  guides/common/modules/con_host-group-structures.adoc
  guides/common/modules/con_multiple-locations.adoc
  guides/common/modules/con_planning-organization-and-location-context.adoc
  guides/common/modules/con_projectserver-with-multiple-manifests.adoc
  guides/common/modules/con_single-location-with-segregated-subnets.adoc
  guides/doc-Planning_for_Project/master.adoc
  guides/doc-Planning_for_Project/topics/Deployment_Scenarios.adoc
Labels: tech review done, style review done

#3547 Fix a broken link
  guides/common/assembly_configuring-satellite-custom-server-certificate.adoc
  guides/common/modules/con_ssl-authentication-overview.adoc
  guides/common/modules/proc_deploying-a-custom-ssl-certificate-to-smart-proxy-server.adoc
  guides/common/modules/proc_renewing-a-custom-ssl-certificate-on-server.adoc
  guides/common/modules/proc_renewing-a-custom-ssl-certificate-on-smart-proxy.adoc
Labels: tech review done, style review done

#3516 Add troubleshooting rex timeout due to yggdrasil version
  guides/common/modules/proc_troubleshooting-remote-jobs-timing-out-after-yggdrasil-update.adoc
  guides/doc-Managing_Hosts/master.adoc
Labels: tech review done, style review done

#3522 Add troubleshooting rex timeout due to yggdrasil version (3.11 and earlier)
  guides/common/modules/proc_troubleshooting-remote-jobs-timing-out-after-yggdrasil-update.adoc
  guides/doc-Managing_Hosts/master.adoc
Labels: tech review done, style review done

#3529 Set SSL certificate paths based on platform OS
  guides/common/modules/proc_configuring-tls-for-secure-ldap.adoc
Labels: tech review done, style review done

#3551 Update Discovery image base
  guides/common/modules/proc_installing-the-discovery-service.adoc
Labels: tech review done, style review done

#3541 Update DHCPv6 server requirement
  guides/common/modules/con_requirements-for-installation-in-an-ipv6-network.adoc
Labels: tech review done, style review done

#3553 Add IPv4 installation requirements
  guides/common/assembly_preparing-environment-for-installation.adoc
  guides/common/modules/proc_requirements-for-installation-in-an-ipv4-network.adoc
Labels: tech review done, style review done

#3515 Publish Administering Foreman for all flavours
  guides/common/assembly_administer-settings-information.adoc
  guides/common/assembly_backing-up-server-and-proxy.adoc
  guides/common/assembly_restoring-server-or-smart-proxy-from-a-backup.adoc
  guides/common/modules/con_backup-and-restore-smartproxyserver-by-using-a-virtual-machine-snapshot.adoc
  guides/common/modules/con_maintaining-server.adoc
  guides/common/modules/proc_estimating-the-size-of-a-backup.adoc
  guides/common/modules/proc_managing-tasks.adoc
  guides/common/modules/proc_monitoring-services.adoc
  guides/common/modules/proc_performing-a-full-backup.adoc
  guides/common/modules/proc_performing-an-incremental-backup.adoc
  guides/common/modules/proc_performing-an-online-backup.adoc
  guides/common/modules/proc_viewing-general-smart-proxy-information.adoc
  guides/common/modules/ref_authentication-settings.adoc
  guides/common/modules/ref_email-notification-types.adoc
  guides/common/modules/ref_webhooks-available-events.adoc
  guides/doc-Administering_Project/master.adoc
Labels: tech review done, style review done

#3540 Fix next-server behavior
  guides/common/modules/ref_options-in-managed-dhcpv4.adoc
Labels: tech review done, style review done

#3517 Add a step in post-upgrade
  guides/common/modules/con_performing-post-upgrade-tasks.adoc
Labels: tech review done, style review done

#3167 Remove references to postgresql-evr
  guides/common/assembly_migrating-from-internal-databases-to-external-databases.adoc
  guides/common/assembly_using-external-databases.adoc
  guides/common/modules/con_migrating-from-internal-databases-to-external-databases.adoc
  guides/common/modules/proc_installing-postgresql.adoc
  guides/common/modules/proc_preparing-a-host-for-external-databases.adoc
  guides/common/modules/proc_upgrading-the-external-database-operating-system.adoc
  guides/common/modules/proc_upgrading-the-external-database.adoc
  guides/doc-Release_Notes/topics/katello.adoc
  guides/doc-Upgrading_Project/master.adoc
  guides/doc-Upgrading_Project_Disconnected/master.adoc
Labels: style review done

#3564 Fix broken link for default HTTP proxy
  guides/common/modules/proc_enabling-red-hat-repositories.adoc
Labels: tech review done, style review done

#3566 Fix spelling of configure
  guides/common/modules/con_requirements-for-installation-in-an-ipv6-network.adoc
Labels: tech review done, style review done

#3565 Remove unused text
  guides/common/modules/con_importing-the-project-client-name-repository.adoc
Labels: tech review done, style review done

#3561 Fix next-server behavior 3.13-3.7
  guides/common/modules/con_dhcp-options.adoc
Labels: tech review done, style review done, Not yet reviewed

#3557 Add ELS option to convert2rhel
  guides/common/modules/con_converting-a-host-to-rhel.adoc
Labels: tech review done, style review done

#3563 Improve landing page
  web/content/index.adoc.erb
  web/content/js/nav.js
  web/layouts/default.html.erb
Labels: tech review done, style review done

#3569 Deprecate iPXE in Satellite
  guides/common/modules/con_using-ipxe-to-reduce-provisioning-times.adoc
Labels: tech review done, style review done

#3577 Fix spelling mistake
  guides/common/modules/con_performing-post-upgrade-tasks.adoc
Labels: tech review done, style review done

#3582 Update screenshot about ACD for orcharhino
  guides/common/images/acd-deploying-an-application-instance-rex-target-host-orcharhino.png
Labels: tech review done, style review done

#3538 Fix attribute for Smart Proxy Server
  guides/common/assembly_managing-content-views.adoc
  guides/common/modules/proc_synchronizing-a-content-view-to-a-smart-proxy-server.adoc
Labels: tech review done, style review done

#3571 Drop note about keycloak reset
  guides/common/modules/proc_registering-project-as-a-client-of-keycloak.adoc
Labels: tech review done, style review done

#3572 Drop procedure on disabling keycloak
  guides/common/assembly_configuring-external-authentication.adoc
  guides/common/modules/proc_disabling-keycloak-authentication.adoc
Labels: tech review done, style review done

#3568 Remove unused procedure to remove keycloak authentication
  guides/common/modules/proc_disabling-keycloak-authentication.adoc
Labels: tech review done, style review done

#3508 Restore info on relevant optional fields in Register Host interface
  guides/common/modules/proc_registering-a-host.adoc
Labels: tech review done, style review done

#3552 Add note about resources searchable by title
  guides/common/modules/proc_registering-a-host.adoc
Labels: tech review done, style review done

#3570 Remove SCA prerequisite
  guides/common/modules/con_upgrading-prerequisites.adoc
Labels: tech review done, style review done

#3505 Use same manifest for upstr and downstr servers; add relevant links
  guides/common/modules/proc_configuring-projectserver-to-synchronize-content-over-a-network.adoc
  guides/common/modules/proc_importing-a-subscription-manifest-into-foreman-server.adoc
Labels: tech review done, style review done

#3581 Rename concept managing Foreman with Ansible
  guides/common/assembly_managing-project-with-ansible-collections.adoc
  guides/common/assembly_tools-for-administration-of-project.adoc
  guides/common/modules/con_managing-foreman-with-ansible.adoc
  guides/common/modules/con_managing-project-with-ansible-collections.adoc
  guides/common/modules/ref_glossary-of-terms-used-in-project.adoc
  guides/doc-Administering_with_Ansible/master.adoc
Labels: tech review done, style review done

#3533 Change command for Lifecycle and Environment Path
  guides/common/modules/proc_creating-a-lifecycle-environment-path.adoc
Labels: tech review done, style review done

#3554 Drop instructions to update grub2-efi
  guides/common/modules/proc_configuring-for-uefi-http-boot-ipv6-provisioning.adoc
  guides/common/modules/proc_creating-hosts-with-uefi-http-boot-provisioning.adoc
  guides/doc-Planning_for_Project/topics/Provisioning_Concepts.adoc
Labels: style review done

#3510 Add option set new HTTP proxy as default
  guides/common/modules/proc_adding-a-default-http-proxy.adoc
  guides/common/modules/proc_adding-an-http-proxy.adoc
Labels: tech review done, style review done

#3597 Remove system purpose addons references
  guides/common/modules/proc_creating-an-activation-key.adoc
  guides/common/modules/proc_editing-the-system-purpose-of-a-host.adoc
Labels: tech review done, style review done

#3599 Remove VMware vCenter 6.x (EOL)
  guides/common/modules/con_prerequisites-for-vmware-provisioning.adoc
  guides/common/modules/proc_creating-a-vmware-user.adoc
Labels: tech review done, style review done

#3601 Update link to RHEL docs from 8 to 9
  guides/common/modules/con_kickstart-workflow.adoc
Labels: tech review done, style review done

#3488 Add Secure Boot for Satellite and RHEL
  guides/common/assembly_using-network-boot-to-provision-hosts.adoc
  guides/common/assembly_using-pxe-to-provision-hosts.adoc
  guides/common/modules/con_using-network-boot-to-provision-hosts.adoc
  guides/common/modules/con_using-pxe-to-provision-hosts.adoc
  guides/common/modules/proc_configuring-smart-proxy-to-provision-secure-boot-enabled-hosts.adoc
Labels: tech review done, style review done

#3605 Replace client-install with server-install for LB
  guides/common/attributes-base.adoc
  guides/common/attributes-satellite.adoc
  guides/common/modules/proc_installing-the-load-balancer.adoc
Labels: tech review done, style review done

#3607 Fix broken links by removing {context}
  guides/common/assembly_configuring-satellite-custom-server-certificate.adoc
  guides/common/modules/proc_renewing-a-custom-ssl-certificate-on-server.adoc
  guides/common/modules/proc_renewing-a-custom-ssl-certificate-on-smart-proxy.adoc
Labels: tech review done, style review done

#3604 Update REX pull client procedure for EL 10 hosts
  guides/common/modules/proc_configuring-a-host-to-use-the-pull-client.adoc
Labels: tech review done, style review done

#3598 Drop references to servers on RHEL 8
  guides/common/modules/proc_configuring-a-cross-forest-trust-between-freeipa-and-active-directory-for-project.adoc
  guides/common/modules/proc_configuring-the-active-directory-authentication-source-on-projectserver.adoc
  guides/common/modules/proc_installing-the-load-balancer.adoc
Labels: tech review done, style review done

#3610 Replace server-pkg-install with pkg-install
  guides/common/attributes-base.adoc
  guides/common/attributes-satellite.adoc
  guides/common/modules/proc_installing-the-load-balancer.adoc
Labels: tech review done, style review done

#3614 Move DR overview and reuse it in Admin
  guides/common/assembly_deployment-path.adoc
  guides/common/assembly_preparing-for-disaster-recovery-and-recovering-from-data-loss.adoc
  guides/common/assembly_preparing-for-disaster-recovery.adoc
  guides/common/modules/con_overview-of-recommended-disaster-recovery-plans.adoc
  guides/common/modules/con_preparing-for-disaster-recovery-and-recovering-from-data-loss.adoc
  guides/common/modules/ref_additional-resources-preparing-for-disaster-recovery.adoc
  guides/doc-Administering_Project/master.adoc
  guides/doc-Planning_for_Project/master.adoc
Labels: tech review done, Needs style review

#3573 Include information about N-2 Smart Proxy support
  guides/common/attributes-orcharhino.adoc
  guides/common/attributes-satellite.adoc
  guides/common/attributes.adoc
  guides/common/modules/con_upgrade-paths.adoc
  guides/common/modules/con_upgrading-smartproxies-separately-from-project.adoc
  guides/common/modules/snip_prerequisites-upgrading-project-server.adoc
Labels: tech review done, style review done

#3562 Restructure migration section
  guides/common/assembly_upgrading-to-rhel9.adoc
  guides/common/modules/con_upgrading-el-on-project-or-proxy.adoc
  guides/common/modules/proc_migrating-project-or-smartproxy-using-backup-restore.adoc
  guides/common/modules/proc_migrating-project-to-el-9-by-using-cloning.adoc
Labels: tech review done, style review done, Needs re-review

#3603 Fix EL version for repositories
  guides/common/modules/proc_synchronizing-the-new-repositories.adoc
Labels: tech review done, style review done

#3619 Deprecate KubeVirt compute resource
  guides/common/modules/con_provisioning-virtual-machines-on-kubevirt.adoc
Labels: tech review done, style review done

#3629 Specify PR labeler event
  .github/workflows/labeler.yml
Labels: Needs tech review, Needs style review, Needs testing

#3575 Limit host resources via Hammer CLI
  guides/common/modules/proc_assigning-resource-quotas-to-a-user-group.adoc
  guides/common/modules/proc_assigning-resource-quotas-to-a-user.adoc
  guides/common/modules/proc_creating-a-resource-quota.adoc
  guides/common/modules/proc_deleting-a-resource-quota.adoc
  guides/common/modules/proc_editing-a-resource-quota.adoc
  guides/common/modules/proc_installing-the-resource-quota-plugin.adoc
Labels: tech review done, style review done

#3633 Fix spelling of resource
  guides/common/modules/proc_assigning-resource-quotas-to-a-user.adoc
Labels: Needs tech review, Needs style review, Needs testing
