Repository theforeman/foreman-documentation, pull requests merged in 2025-02, with the labels that each got.

#3631 Add limitations to bootstrap registration
  guides/common/modules/proc_registering-hosts-by-using-the-bootstrap-script.adoc
Labels: style review done

#3595 Add invalidating registration tokens
  guides/common/assembly_invalidating-registration-tokens.adoc
  guides/common/assembly_registering-hosts.adoc
  guides/common/modules/con_invalidating-registration-tokens.adoc
  guides/common/modules/proc_invalidating-jwts-of-all-users.adoc
  guides/common/modules/proc_invalidating-jwts-of-other-users.adoc
  guides/common/modules/proc_invalidating-your-own-jwts.adoc
Labels: tech review done, style review done, testing done

#3632 Remove unnecessary macros
  guides/common/assembly_supported-usage-and-versions-of-project-components.adoc
  guides/common/modules/con_client-operating-systems.adoc
Labels: style review done

#3637 Add newline between two xrefs
  guides/common/modules/proc_invalidating-jwts-of-other-users.adoc
  guides/common/modules/proc_invalidating-your-own-jwts.adoc
Labels: style review done

#3639 Add docs for Oracle ULN content
  guides/common/assembly_importing-content.adoc
  guides/common/modules/proc_creating-uln-repositories.adoc
  guides/common/modules/ref_uln-repositories-for-oracle-linux-8.adoc
  guides/common/modules/ref_uln-repositories-for-oracle-linux-9.adoc
  guides/common/modules/snip_limit-download-concurrency-for-uln-content.adoc
Labels: tech review done, Needs style review, testing done

#3602 Add vTPM to VMware provisioning
  guides/common/modules/proc_adding-vmware-details-to-a-compute-profile.adoc
  guides/common/modules/proc_creating-a-vmware-user.adoc
Labels: tech review done, style review done, testing done

#3544 Fix image builder
  guides/common/assembly_building_cloud-images.adoc
  guides/common/modules/con_building-cloud-images-next-steps.adoc
  guides/common/modules/con_building-cloud-images.adoc
  guides/common/modules/proc_completing-the-rhel6-image.adoc
Labels: style review done, Needs tech review

#3635 Add HTTP(S) proxy username and password Setting
  guides/common/modules/ref_general-settings-information.adoc
Labels: tech review done, style review done

#3646 Remove migrating to webhooks
  guides/common/assembly_using-foreman-webhooks.adoc
  guides/common/modules/con_migrating-to-foreman-webhooks.adoc
Labels: tech review done, style review done

#3643 More precise steps on keytab move and ownership change for realm support
  guides/common/modules/con_configuring-project-to-manage-the-lifecycle-of-a-host-registered-to-a-freeipa-realm.adoc
Labels: tech review done, style review done

#3642 Use dash in file name
  guides/common/assembly_building-cloud-images.adoc
  guides/doc-Provisioning_Hosts/master.adoc
Labels: tech review done, style review done

#3528 Upstreamize VM subscriptions guide
  guides/common/assembly_configuring-virt-who-hyperv.adoc
  guides/common/assembly_configuring-virt-who-kubevirt.adoc
  guides/common/assembly_configuring-virt-who-kvm.adoc
  guides/common/assembly_configuring-virt-who-nutanix.adoc
  guides/common/assembly_configuring-virt-who-openstack.adoc
  guides/common/assembly_configuring-virt-who-vmware.adoc
  guides/common/assembly_overview-of-vm-subscriptions.adoc
  guides/common/assembly_troubleshooting-virt-who.adoc
  guides/common/attributes-satellite.adoc
  guides/common/attributes-titles.adoc
  guides/common/modules/con_configuring-virt-who-for-provider.adoc
  guides/common/modules/con_managing-virt-who-configurations.adoc
  guides/common/modules/con_provisioning-virtual-machines-on-kubevirt.adoc
  guides/common/modules/con_troubleshooting-virt-who.adoc
  guides/common/modules/con_virtual-machine-subscriptions-overview.adoc
  guides/common/modules/proc_checking-for-subscriptions-that-require-virt-who.adoc
  guides/common/modules/proc_checking-virt-who-status.adoc
  guides/common/modules/proc_creating-a-virt-who-configuration.adoc
  guides/common/modules/proc_deploying-a-virt-who-configuration-on-target-server.adoc
  guides/common/modules/proc_editing-a-virt-who-configuration.adoc
  guides/common/modules/proc_enabling-rhsm-debug-logging.adoc
  guides/common/modules/proc_removing-a-virt-who-configuration.adoc
  guides/common/modules/proc_virt-who-does-not-report-to-satellite.adoc
  guides/common/modules/ref_troubleshooting-virt-who.adoc
  guides/common/modules/ref_virt-who-configuration-overview.adoc
  guides/common/modules/snip_technology-preview.adoc
  guides/doc-Configuring_virt-who_VM_Subscriptions/Makefile
  guides/doc-Configuring_virt-who_VM_Subscriptions/common
  guides/doc-Configuring_virt-who_VM_Subscriptions/docinfo.html
  guides/doc-Configuring_virt-who_VM_Subscriptions/docinfo.xml
  guides/doc-Configuring_virt-who_VM_Subscriptions/images
  guides/doc-Configuring_virt-who_VM_Subscriptions/master.adoc
  guides/upstream_filename_to_satellite_link.json
Labels: tech review done, style review done, testing done

#3644 Remove unnecessary step (enabling custom repositories after upgrade)
  guides/common/modules/proc_upgrading-smartproxy-server.adoc
Labels: tech review done, style review done

#3655 Update vale action to v2 and use Ubuntu 24.04 to run it
  .github/workflows/vale.yml
Labels: testing done

#3615 Add DR virtualization scenario
  guides/common/assembly_disaster-recovery-by-virtualizing-your-projectserver.adoc
  guides/common/assembly_preparing-for-disaster-recovery-and-recovering-from-data-loss.adoc
  guides/common/modules/con_disaster-recovery-by-virtualizing-your-projectserver.adoc
  guides/common/modules/proc_preparing-for-disaster-recovery-by-virtualizing-your-projectserver.adoc
  guides/common/modules/proc_recovering-from-disaster-by-restoring-a-vm-snapshot-of-projectserver.adoc
  guides/common/modules/ref_prerequisites-disaster-recovery-by-virtualizing-your-projectserver.adoc
  guides/common/modules/snip_disaster-recovery-hostname-cannot-change.adoc
  guides/doc-Administering_Project/master.adoc
Labels: tech review done, style review done

#3659 Fix anchor ID
  guides/common/modules/proc_creating-a-virt-who-configuration.adoc
Labels: style review done

#3665 Update CI workflows to use Ubuntu 24.04
  .github/workflows/deploy.yml
Labels: Needs tech review, Needs style review

#3666 Run linkchecker on Ubuntu 24.04
  .github/workflows/linkchecker.yml
  guides/Makefile
  guides/scripts/linkchecker-tryer
Labels: Needs tech review, Needs style review, Needs testing

#3660 Refer to Debian with an attribute
  guides/doc-Managing_Content/master.adoc
  guides/doc-Managing_Security_Compliance/master.adoc
Labels: tech review done, style review done, Needs re-review

#3661 Formally turn snippet into module
  guides/common/modules/con_guide-not-ready.adoc
  guides/doc-Configuring_Load_Balancer/master.adoc
  guides/doc-Configuring_User_Authentication/master.adoc
  guides/doc-Deploying_Hosts_AppCentric/master.adoc
  guides/doc-Deploying_Project_on_AWS/master.adoc
  guides/doc-Installing_Proxy/master.adoc
  guides/doc-Installing_Server/master.adoc
  guides/doc-Installing_Server_Disconnected/master.adoc
  guides/doc-Managing_Configurations_Puppet/master.adoc
  guides/doc-Managing_Configurations_Salt/master.adoc
  guides/doc-Managing_Hosts/master.adoc
  guides/doc-Managing_Organizations_and_Locations/master.adoc
  guides/doc-Managing_Security_Compliance/master.adoc
  guides/doc-Planning_for_Project/master.adoc
  guides/doc-Project_API/master.adoc
  guides/doc-Provisioning_Hosts/master.adoc
  guides/doc-Provisioning_Installer/master.adoc
  guides/doc-Tuning_Performance/master.adoc
  guides/doc-Updating_Project/master.adoc
  guides/doc-Upgrading_Project_Disconnected/master.adoc
Labels: Needs style review

#3676 Fix grammar in DR overview
  guides/common/modules/con_overview-of-recommended-disaster-recovery-plans.adoc
Labels: Needs style review

#3677 Fix a typo
  guides/common/modules/proc_cloning_satellite_server.adoc
Labels: style review done

#3667 Fix broken link in Using noVNC
  guides/common/modules/proc_adding-a-remote-console-connection-for-a-host-on-proxmox.adoc
  guides/common/modules/proc_downloading-files-to-a-host-from-a-custom-file-repository.adoc
  guides/common/modules/proc_downloading-python-packages-to-a-host-from-a-python-repository.adoc
  guides/common/modules/proc_using-novnc-to-access-virtual-machines.adoc
Labels: style review done

#3678 Fix various broken links to/in Configuring User Authentication chapter
  guides/common/modules/con_configuring-an-ldap-server-as-an-external-identity-provider-for-project.adoc
  guides/common/modules/con_configuring-kerberos-sso-for-active-directory-users-in-project.adoc
  guides/common/modules/con_configuring-kerberos-sso-with-freeipa-in-project.adoc
  guides/common/modules/proc_adding-a-remote-console-connection-for-a-host-on-proxmox.adoc
  guides/common/modules/proc_configuring-external-user-groups.adoc
  guides/common/modules/proc_configuring-host-based-access-control-for-freeipa-users-logging-in-to-project.adoc
  guides/common/modules/proc_creating-a-user.adoc
  guides/common/modules/proc_downloading-files-to-a-host-from-a-custom-file-repository.adoc
  guides/common/modules/proc_downloading-python-packages-to-a-host-from-a-python-repository.adoc
  guides/common/modules/proc_importing-the-katello-root-ca-certificate.adoc
  guides/common/modules/proc_logging-in-to-hammer-cli-with-freeipa-credentials.adoc
  guides/common/modules/proc_logging-in-to-the-projectwebui-with-freeipa-credentials-in-chrome.adoc
  guides/common/modules/proc_logging-in-to-the-projectwebui-with-freeipa-credentials-in-mozilla-firefox.adoc
  guides/common/modules/proc_logging-in-to-the-projectwebui.adoc
  guides/common/modules/proc_renaming-server.adoc
  guides/common/modules/proc_using-novnc-to-access-virtual-machines.adoc
  guides/common/modules/ref_overview-of-authentication-methods-in-project.adoc
Labels: Needs tech review, Needs style review, Needs testing

#3658 Use foreman-installer for hammer resource quota
  guides/common/modules/proc_installing-the-resource-quota-plugin.adoc
Labels: tech review done, style review done, testing done

#3662 Improve Secure Boot provisioning
  guides/common/assembly_using-network-boot-to-provision-hosts.adoc
  guides/common/assembly_using-pxe-to-provision-hosts.adoc
  guides/common/modules/con_using-network-boot-to-provision-hosts.adoc
  guides/common/modules/con_using-pxe-to-provision-hosts.adoc
  guides/common/modules/proc_configuring-smart-proxy-to-provision-secure-boot-enabled-hosts.adoc
Labels: tech review done, style review done, testing done

#3680 Add Secure Boot to provisioning overview
  guides/common/modules/con_provisioning-methods-in-project.adoc
Labels: tech review done, style review done

#3684 Update docs for Oracle ULN content recommendations
  guides/common/modules/proc_creating-uln-repositories.adoc
  guides/common/modules/snip_limit-download-concurrency-for-uln-content.adoc
  guides/common/modules/snip_set-retain-package-versions-for-uln-content.adoc
Labels: tech review done, style review done, testing done

#3683 Add ID arg to CV sync to Smart Proxy Servers
  guides/common/modules/proc_adding-lifecycle-environments.adoc
  guides/common/modules/proc_importing-all-available-ansible-playbooks.adoc
  guides/common/modules/proc_importing-an-ansible-playbook-by-name.adoc
  guides/common/modules/proc_recovering-corrupted-content-on-a-smart-proxy.adoc
  guides/common/modules/proc_renaming-server.adoc
  guides/common/modules/proc_synchronizing-a-content-view-to-a-smart-proxy-server.adoc
Labels: style review done, Needs tech review

#3685 Add release notes for 3.14.0-rc1
  guides/common/attributes.adoc
  guides/doc-Release_Notes/master.adoc
  guides/doc-Release_Notes/topics/foreman-3.14.0.adoc
  guides/doc-Release_Notes/topics/foreman-contributors.adoc
Labels: Needs tech review, Needs style review, Needs re-review, Needs testing

#3682 Update master for 3.14 branching
  .github/PULL_REQUEST_TEMPLATE.md
  Makefile
  guides/common/attributes.adoc
  web/releases/3.14.adoc
  web/releases/3.14.json
Labels: Needs tech review, Needs style review, Needs testing

#3691 Update link from RHEL 8 to RHEL 9
  guides/common/modules/con_managing-ssh-keys.adoc
Labels: style review done

#3663 Add procedure, concept, and reference for image mode hosts
  guides/common/assembly_administering-hosts.adoc
  guides/common/assembly_package-mode-and-image-mode-hosts.adoc
  guides/common/modules/con_package-mode-and-image-mode-hosts.adoc
  guides/common/modules/proc_viewing-booted-container-images.adoc
  guides/common/modules/ref_remote-execution-jobs-for-image-mode-hosts.adoc
  guides/doc-Managing_Hosts/master.adoc
Labels: tech review done, style review done

#3695 Revert "Add HTTP(S) proxy username and password Setting"
  guides/common/modules/ref_general-settings-information.adoc
Labels: tech review done

#3694 Add missing option to self-upgrade command
  guides/common/modules/proc_upgrading-a-disconnected-project-server.adoc
Labels: tech review done, style review done

#3693 Add Katello 4.16 release notes
  guides/doc-Release_Notes/topics/katello-contributors.adoc
  guides/doc-Release_Notes/topics/katello.adoc
Labels: Needs tech review, Needs style review, Needs testing

#3697 Clean out nightly release notes after branching
  guides/doc-Release_Notes/topics/foreman.adoc
  guides/doc-Release_Notes/topics/katello.adoc
Labels: Needs tech review, Needs style review, Needs testing
