Repository theforeman/foreman-documentation, pull requests merged in 2025-07, with the labels that each got.

#3965 Allow attributes in code blocks
  guides/common/modules/con_content-view-environment-ordering-and-priority.adoc
Labels: style review done

#3946 Add review checklists to PR template
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
Labels: style review done

#3963 Do not use assembly within another assembly
  guides/common/assembly_invalidating-registration-tokens.adoc
  guides/common/assembly_registering-hosts.adoc
Labels: Needs style review

#3910 Fix placement of Insights advisor docs
  guides/common/assembly_installing-and-configuring-advisorengine.adoc
  guides/common/assembly_installing-satellite-server-disconnected.adoc
  guides/common/modules/con_installing-and-configuring-advisor-engine.adoc
  guides/common/modules/con_installing-and-configuring-advisorengine.adoc
  guides/common/modules/proc_registering-satellite-server-with-insights.adoc
  guides/doc-Installing_Server/master.adoc
  guides/doc-Installing_Server_Disconnected/master.adoc
Labels: style review done, Needs tech review

#3919 Add a note about IP addresses after migration
  guides/common/modules/proc_migrating-project-or-smartproxy-using-backup-restore.adoc
Labels: tech review done, style review done

#3976 Set attribute foreman-installer for orcharhino
  guides/common/attributes-orcharhino.adoc
Labels: Needs style review

#3309 Add diagram of installer-based provisioning with subnet bootdisk
  guides/image-sources/provisioning-installer-bootdisk-subnet.plantuml
Labels: tech review done, style review done

#3983 Use double quotes in anchors
  guides/common/modules/con_hammer-cheat-sheet.adoc
  guides/common/modules/con_metrics-data-retention.adoc
  guides/common/modules/con_metrics-overview.adoc
  guides/common/modules/con_pcp-metrics.adoc
  guides/common/modules/proc_changing-data-retention-policy.adoc
  guides/common/modules/proc_changing-default-logging-interval.adoc
  guides/common/modules/proc_configuring-hosts-to-use-an-alternate-cname-for-content-management.adoc
  guides/common/modules/proc_configuring-pcp-data-collection.adoc
  guides/common/modules/proc_configuring-project-with-an-alternate-cname.adoc
  guides/common/modules/proc_disabling-registration-to-insights.adoc
  guides/common/modules/proc_enabling-web-ui-access-to-metrics.adoc
  guides/common/modules/proc_installing-pcp.adoc
  guides/common/modules/proc_installing-the-load-balancer.adoc
  guides/common/modules/proc_registering-satellite-server-with-insights.adoc
  guides/common/modules/proc_retrieving-archived-metrics.adoc
  guides/common/modules/proc_retrieving-live-metrics.adoc
  guides/common/modules/proc_retrieving-metrics-in-the-web-ui.adoc
  guides/common/modules/proc_tuning-with-predefined-profiles.adoc
  guides/common/modules/proc_verifying-pcp-configuration.adoc
  guides/common/modules/proc_viewing-data-storage-statistics.adoc
Labels: style review done

#3961 Fix broken links and titles
  guides/common/modules/con_smartproxy-features.adoc
  guides/common/modules/con_template-writing-reference.adoc
  guides/common/modules/con_web-ui-overview.adoc
  guides/common/modules/proc_creating-hosts-with-pxeless-provisioning.adoc
  guides/common/modules/proc_enabling-power-management-on-hosts.adoc
  guides/common/modules/proc_enrolling-projectserver-in-freeipa-domain.adoc
  guides/common/modules/proc_exporting-a-repository-incrementally.adoc
  guides/common/modules/proc_registering-a-host.adoc
  guides/common/modules/proc_synchronizing-a-single-repository.adoc
  guides/common/modules/proc_updating-a-puppet-module.adoc
Labels: style review done

#3987 Add a prerequisite to update any SHA1 certificates
  guides/common/modules/con_upgrading-prerequisites.adoc
Labels: style review done

#3914 Add prerequisite and fix command line in Flatpak
  guides/common/modules/proc_enabling-the-flatpak-remote.adoc
  guides/common/modules/proc_importing-and-exporting-content-to-project-server-for-flatpak.adoc
  guides/common/modules/proc_installing-flatpak-applications-on-project-hosts.adoc
  guides/common/modules/proc_setting-up-flatpak-remote-for-smartproxy.adoc
  guides/common/modules/proc_using-container-registries.adoc
Labels: tech review done, style review done, testing done

#3953 Add mod docs content attribute guidelines
  CONTRIBUTING.md
  guides/README.md
Labels: Needs style review

#3986 Add documentation on security features - take 2
  guides/common/assembly_foreman-deployment-planning.adoc
  guides/common/assembly_installing-capsule-server.adoc
  guides/common/assembly_installing-satellite-server-disconnected.adoc
  guides/common/assembly_installing-server-connected.adoc
  guides/common/modules/con_security-considerations.adoc
  guides/common/modules/con_using-fapolicyd-on-server.adoc
  guides/common/modules/proc_installing-fapolicyd-on-server.adoc
  guides/common/modules/ref_system-requirements.adoc
Labels: tech review done, style review done

#3973 Document new usage metrics timer
  guides/common/modules/con_overview-of-usage-metrics-collection-in-project.adoc
  guides/common/modules/proc_disabling-the-collection-of-usage-metrics.adoc
  guides/common/modules/proc_reviewing-usage-metrics-collected-from-your-project.adoc
Labels: tech review done, style review done, testing done

#4009 Fix tuxcare.com URL
  guides/common/linkchecker.ini
  guides/common/modules/con_using-the-kernelcare-plugin.adoc
Labels: style review done, testing done

#4002 Use package-install attribute on infrastructure servers
  guides/common/modules/proc_benchmarking-raw-db-performance.adoc
  guides/common/modules/proc_cloning-satellite-server.adoc
  guides/common/modules/proc_configuring-repositories-el.adoc
  guides/common/modules/proc_sharing-the-dhcp-configuration-files-and-lease-database-over-nfs.adoc
Labels: Needs tech review, Needs style review, Needs testing

#4035 Hide KubeVirt for orcharhino
  guides/common/modules/ref_supported-virtualization-infrastructures.adoc
  guides/doc-Configuring_virt_who_VM_Subscriptions/master.adoc
Labels: style review done

#3804 Move default OS repositories to tables
  guides/common/assembly_importing-content.adoc
  guides/common/modules/proc_adding-custom-rpm-repositories-el.adoc
  guides/common/modules/proc_adding-upstream-repositories-for-deb.adoc
  guides/common/modules/ref_default-operating-system-repositories.adoc
Labels: tech review done, style review done

#3922 Incorporate improvements to original provisioning
  guides/common/assembly_configuring-provisioning-resources.adoc
  guides/common/assembly_introduction-to-provisioning.adoc
  guides/common/assembly_preparing-client-platforms.adoc
  guides/common/assembly_preparing-networking.adoc
  guides/common/assembly_using-pxe-to-provision-hosts.adoc
  guides/common/modules/con_configuring-provisioning-resources.adoc
  guides/common/modules/con_prerequisites-for-bare-metal-provisioning.adoc
  guides/common/modules/con_using-pxe-to-provision-hosts.adoc
  guides/common/modules/proc_configuring-project-to-provision-from-a-builder-image.adoc
  guides/common/modules/proc_creating-hosts-from-discovered-hosts.adoc
  guides/common/modules/proc_creating-hosts-with-pxeless-provisioning.adoc
  guides/common/modules/proc_creating-hosts-with-unattended-provisioning.adoc
  guides/common/modules/ref_initialization-script-for-provisioning-examples.adoc
  guides/doc-Provisioning_Hosts/master.adoc
Labels: tech review done, style review done

#4033 Add obfuscation procedure
  guides/common/assembly_monitoring-hosts-by-using-insights.adoc
  guides/common/modules/proc_obfuscating-hostnames-and-ip-addresses.adoc
  guides/doc-Managing_Hosts/master.adoc
Labels: tech review done, style review done, Needs testing

#4014 Add UI procedure for Flatpak and remove endpoint in command line
  guides/common/assembly_managing-flatpak-repositories-in-project.adoc
  guides/common/modules/proc_creating-a-flatpak-remote.adoc
  guides/common/modules/proc_enabling-the-flatpak-remote-by-using-hammer-cli.adoc
  guides/common/modules/proc_importing-and-exporting-content-to-project-server-for-flatpak.adoc
  guides/common/modules/proc_installing-flatpak-applications-on-project-hosts.adoc
  guides/common/modules/proc_mirroring-remote-flatpak-repositories-to-project-products.adoc
  guides/common/modules/proc_scanning-a-flatpak-remote.adoc
  guides/common/modules/proc_setting-up-flatpak-remote-for-smartproxy.adoc
  guides/common/modules/proc_viewing-flatpak-remote-details.adoc
Labels: tech review done, style review done, testing done

#4042 Add links to provisioning cloud instances
  guides/common/modules/ref_supported-cloud-providers.adoc
Labels: style review done

#3992 Split procedure to increase logging levels
  guides/common/assembly_logging-and-reporting-problems.adoc
  guides/common/modules/con_logging-levels-of-project-components.adoc
  guides/common/modules/proc_increasing-the-logging-level-for-candlepin.adoc
  guides/common/modules/proc_increasing-the-logging-level-for-foreman-installer.adoc
  guides/common/modules/proc_increasing-the-logging-level-for-foreman.adoc
  guides/common/modules/proc_increasing-the-logging-level-for-hammer.adoc
  guides/common/modules/proc_increasing-the-logging-level-for-pulp.adoc
  guides/common/modules/proc_increasing-the-logging-level-for-puppet-agent.adoc
  guides/common/modules/proc_increasing-the-logging-level-for-puppet-server.adoc
  guides/common/modules/proc_increasing-the-logging-level-for-redis.adoc
  guides/common/modules/proc_increasing-the-logging-level-for-salt.adoc
  guides/common/modules/proc_increasing-the-logging-level-for-smart-proxy.adoc
  guides/common/modules/proc_increasing-the-logging-levels-to-help-with-debugging.adoc
Labels: tech review done, style review done

#3859 Introduce Ansible Module Collection guide
  guides/common/assembly_example-playbooks-based-on-modules-from-project-ansible-collection.adoc
  guides/common/assembly_introduction-to-project-ansible-collection.adoc
  guides/common/assembly_introduction-to-project-api.adoc
  guides/common/assembly_managing-project-with-ansible-collection.adoc
  guides/common/attributes-base.adoc
  guides/common/attributes-satellite.adoc
  guides/common/attributes-titles.adoc
  guides/common/modules/con_automating-project-management-with-project-ansible-collection.adoc
  guides/common/modules/con_example-playbooks-based-on-modules-from-project-ansible-collection.adoc
  guides/common/modules/con_introduction-to-project-ansible-collection.adoc
  guides/common/modules/proc_accessing-the-built-in-api-reference.adoc
  guides/common/modules/ref_example-playbooks-based-on-modules-from-project-ansible-collection.adoc
  guides/common/modules/ref_getting-help-with-hammer-cli.adoc
  guides/common/modules/ref_getting-help-with-project-ansible-collection.adoc
  guides/common/modules/ref_getting-help-with-project-api.adoc
  guides/common/modules/ref_playbook-example-enable-repositories-and-create-a-content-view.adoc
  guides/common/modules/ref_playbook-example-synchronize-repositories-and-publish-a-content-view.adoc
  guides/doc-Administering_Project/master.adoc
  guides/doc-Ansible_Collection/Makefile
  guides/doc-Ansible_Collection/common
  guides/doc-Ansible_Collection/docinfo.xml
  guides/doc-Ansible_Collection/images/common
  guides/doc-Ansible_Collection/master.adoc
  guides/doc-Hammer_CLI/master.adoc
  guides/doc-Project_API/master.adoc
  web/releases/nightly.json
Labels: tech review done, style review done

#4057 Use attribute in favor of HOST
  guides/common/modules/ref_generic-project-specific-macros.adoc
Labels: style review done

#3989 Rename buttons in Web UI of foreman_scc_manager
  guides/common/modules/proc_adding-an-scc-account.adoc
Labels: tech review done, style review done

#4056 Update links to point to new Ansible Collection guide
  guides/common/attributes-base.adoc
  guides/common/modules/con_automating-project-management-with-project-ansible-collection.adoc
  guides/common/modules/con_overview-of-recommended-disaster-recovery-plans.adoc
  guides/common/modules/proc_preparing-for-disaster-recovery-with-two-active-project-servers.adoc
  guides/common/modules/proc_recovering-from-disaster-with-two-active-project-servers.adoc
  guides/common/modules/ref_glossary-of-terms-used-in-project.adoc
  guides/doc-Project_Ansible_Collection/Makefile
  guides/doc-Project_Ansible_Collection/common
  guides/doc-Project_Ansible_Collection/docinfo.xml
  guides/doc-Project_Ansible_Collection/images/common
  guides/doc-Project_Ansible_Collection/master.adoc
  web/releases/nightly.json
Labels: style review done

#4053 Add docs to install foreman_bootdisk plugin
  guides/common/assembly_using-boot-disks-to-provision-hosts.adoc
  guides/common/modules/proc_enabling-bootdisk-plugin.adoc
Labels: tech review done, style review done

#4054 Rebrand :advisorengine:
  guides/common/attributes-base.adoc
  guides/common/attributes-satellite.adoc
Labels: tech review done, style review done

#4081 Change statement in note
  guides/common/modules/con_content-synchronization-by-using-export-and-import.adoc
Labels: tech review done, style review done

#4075 Clarify required OS content of remote web servers
  guides/common/modules/proc_creating-a-remote-source-for-a-custom-file-type-repository.adoc
Labels: style review done

#4074 Simplify installing yggdrasil on Client OS
  guides/common/attributes-orcharhino.adoc
  guides/common/modules/proc_configuring-a-host-to-use-the-pull-client.adoc
Labels: style review done
