Repository theforeman/foreman-documentation, pull requests merged in 2025-09, with the labels that each got.

#4204 Fix link to ULN oracle docs
  guides/common/modules/proc_creating-uln-repositories.adoc
Labels: style review done

#3902 Assign rolling CV to LE (to omit synchronizing Library to Smart Proxy Servers to use RCV)
  guides/common/assembly_managing-content-views.adoc
  guides/common/modules/con_rolling-content-views.adoc
  guides/common/modules/proc_assigning-a-rolling-content-view-to-lifecycle-environments.adoc
  guides/common/modules/proc_creating-a-rolling-content-view.adoc
  guides/common/modules/ref_best-practices-for-content-views.adoc
Labels: tech review done, style review done

#4205 Update Quickstart abstract
  guides/common/modules/proc_running-installer.adoc
  guides/doc-Quickstart/master.adoc
Labels: tech review done, style review done

#4163 Foreman 3.16 Release Notes
  guides/doc-Release_Notes/master.adoc
  guides/doc-Release_Notes/topics/foreman-3.16.0.adoc
  guides/doc-Release_Notes/topics/foreman-contributors.adoc
  guides/doc-Release_Notes/topics/foreman.adoc
Labels: style review done, Needs tech review

#4200 Update documentation for Katello 4.18.0.rc2
  guides/doc-Release_Notes/topics/katello-4.18.0.adoc
  guides/doc-Release_Notes/topics/katello-contributors.adoc
  guides/doc-Release_Notes/topics/katello.adoc
Labels: tech review done, style review done

#4217 Split alternative puppet installation method to separate steps
  guides/common/modules/proc_installing-a-puppet-module.adoc
Labels: tech review done, style review done, testing done

#4220 Split off Hammer reference into separate guide
  guides/common/assembly_hammer-reference.adoc
  guides/common/attributes-base.adoc
  guides/common/attributes-satellite.adoc
  guides/common/attributes-titles.adoc
  guides/common/modules/con_hammer-reference.adoc
  guides/common/modules/con_introduction-to-hammer.adoc
  guides/doc-Hammer_CLI/master.adoc
  guides/doc-Hammer_Reference/Makefile
  guides/doc-Hammer_Reference/README.md
  guides/doc-Hammer_Reference/common
  guides/doc-Hammer_Reference/docinfo.xml
  guides/doc-Hammer_Reference/images/common
  guides/doc-Hammer_Reference/master.adoc
Labels: style review done

#4213 Review IPv4/IPv6 installation requirements
  guides/common/assembly_planning-project-server-installation.adoc
  guides/common/assembly_preparing-environment-for-project-server-installation.adoc
  guides/common/modules/con_limitations-of-installation-in-an-ipv6-network.adoc
  guides/common/modules/con_preparing-your-environment-for-project-installation-in-an-ipv6-network.adoc
  guides/common/modules/con_requirements-for-installation-in-an-ipv6-network.adoc
  guides/common/modules/proc_requirements-for-installation-in-an-ipv4-network.adoc
  guides/common/modules/ref_ipv6-and-ipv4-requirements.adoc
Labels: tech review done, style review done

#4208 Merge organization concepts with other sections in Planning
  guides/common/assembly_project-infrastructure-organization-concepts.adoc
  guides/common/modules/con_organizations-and-locations-in-project.adoc
  guides/common/modules/con_overview-of-hosts-in-project.adoc
  guides/common/modules/con_planning-organization-and-location-context.adoc
  guides/common/modules/con_project-infrastructure-organization-concepts.adoc
  guides/common/modules/ref_additional-resources-project-infrastructure-organization-concepts.adoc
  guides/doc-Planning_for_Project/master.adoc
Labels: style review done

#4228 Fix spelling of contents
  guides/common/modules/proc_getting-scap-contents-from-upstream.adoc
Labels: style review done

#4231 3.16 GA
  web/releases/3.14.json
  web/releases/3.16.json
Labels: tech review done, style review done

#4233 Retire Foreman 3.14
  guides/common/attributes.adoc
Labels: tech review done, style review done

#4241 Remove syncable-exports snippet
  guides/common/modules/proc_exporting-a-content-view-version-incrementally.adoc
  guides/common/modules/proc_exporting-the-library-environment-incrementally.adoc
  guides/common/modules/snip_syncable-exports.adoc
Labels: style review done

#4245 Removing backup-note snippet
  guides/common/modules/con_backing-up-server-and-proxy.adoc
  guides/common/modules/snip_backup-usecase-note.adoc
Labels: style review done

#4229 Fix result of remote DB backup
  guides/common/modules/proc_performing-a-full-backup.adoc
Labels: tech review done, style review done, testing done

#4258 Revert "Removing firewall config snippets"
  guides/common/modules/proc_configuring-pull-based-transport-for-remote-execution.adoc
  guides/common/modules/proc_configuring-salt-on-project.adoc
  guides/common/modules/proc_enabling-client-connections-to-project-server.adoc
  guides/common/modules/proc_enabling-connections-to-capsule.adoc
  guides/common/modules/proc_enabling-omapi-authentication-in-isc-dhcp.adoc
  guides/common/modules/proc_installing-postgresql.adoc
  guides/common/modules/snip_make-firewall-settings-persistent.adoc
  guides/common/modules/snip_verify-firewall-settings.adoc
Labels: Needs tech review, Needs style review, Not yet reviewed, Needs testing

#4255 Remove repolist verification snippet
  guides/common/modules/proc_configuring-repositories-foreman-el.adoc
  guides/common/modules/proc_configuring-repositories-proxy.adoc
  guides/common/modules/proc_configuring-repositories-satellite.adoc
  guides/common/modules/snip_verification-enabled-repolist.adoc
Labels: style review done

#4254 Remove custom templates snippet
  guides/common/modules/proc_customizing-the-registration-templates.adoc
  guides/common/modules/snip_note-custom-templates-unsupported.adoc
Labels: style review done

#4257 Update procedure for TLS for secure LDAP connection
  guides/common/modules/proc_configuring-tls-for-secure-ldap.adoc
Labels: tech review done, style review done

#4211 Add missing blank line
  guides/common/modules/proc_registering-capsule-to-satellite-server.adoc
Labels: style review done

#3954 Remove update-ca-trust enable step
  guides/common/modules/con_configuring-project-to-manage-the-lifecycle-of-a-host-registered-to-a-freeipa-realm.adoc
  guides/common/modules/proc_configuring-satellite-for-outgoing-emails.adoc
  guides/common/modules/proc_using-vmware-cloud-init-and-userdata-templates-for-provisioning.adoc
Labels: tech review done, style review done, testing done

#4225 Add Configuring Podman for HTTP proxy
  guides/common/assembly_installing-and-configuring-insights-iop.adoc
  guides/common/modules/proc_configuring-podman-to-use-an-http-proxy.adoc
Labels: tech review done, style review done, testing done

#4260 Add a link to the Foreman oVirt Plugin
  guides/doc-Release_Notes/topics/foreman.adoc
Labels: style review done

#4248 Add list of supported Proxmox versions
  guides/common/modules/con_provisioning-virtual-machines-in-proxmox.adoc
Labels: tech review done, style review done, testing done

#4263 Fix typo
  guides/common/modules/con_provisioning-virtual-machines-in-proxmox.adoc
Labels: Needs tech review, Needs style review, Needs testing

#4270 Fix broken xref
  guides/common/modules/proc_importing-a-content-view-version.adoc
Labels: Needs style review

#4271 Remove broken URL
  guides/common/modules/ref_kernel-parameters-for-discovery-customization.adoc
Labels: style review done

#4234 Rework Hammer reference generation
  guides/doc-Hammer_Reference/README.md
  guides/scripts/generate-hammer-reference.sh
Labels: tech review done, style review done, testing done

#4210 Review firewall requirements
  guides/common/assembly_major-project-components.adoc
  guides/common/assembly_networking-considerations-in-project.adoc
  guides/common/assembly_planning-project-server-installation.adoc
  guides/common/assembly_preparing-environment-for-capsule-installation.adoc
  guides/common/assembly_preparing-environment-for-project-server-installation.adoc
  guides/common/modules/con_http-booting-requirements-with-managed-dhcp.adoc
  guides/common/modules/con_http-booting-requirements-with-unmanaged-dhcp.adoc
  guides/common/modules/con_networking-considerations-in-project.adoc
  guides/common/modules/con_pxe-booting-requirements.adoc
  guides/common/modules/con_smart-proxy-networking.adoc
  guides/common/modules/con_smartproxy-networking.adoc
  guides/common/modules/proc_configuring-capsule-default-certificate.adoc
  guides/common/modules/proc_deploying-a-custom-ssl-certificate-to-smart-proxy-server.adoc
  guides/common/modules/proc_enabling-client-connections-to-project-server.adoc
  guides/common/modules/proc_enabling-connections-to-capsule.adoc
  guides/common/modules/proc_installing-postgresql.adoc
  guides/common/modules/proc_opening-required-ports.adoc
  guides/common/modules/proc_registering-capsule-to-satellite-server.adoc
  guides/common/modules/proc_using-novnc-to-access-virtual-machines.adoc
  guides/common/modules/ref_project-server-port-and-firewall-requirements.adoc
  guides/common/modules/ref_smart-proxy-port-and-firewall-requirements.adoc
  guides/common/modules/snip_firewalld.adoc
  guides/common/modules/snip_verify-firewall-settings.adoc
  guides/doc-Planning_for_Project/master.adoc
Labels: tech review done, style review done

#4266 Add 'remote execution' to non-capitalized list
  CONTRIBUTING.md
Labels: Needs tech review, Needs style review

#4236 Fix content readability issues for connected upgrading guide
  guides/common/modules/proc_synchronizing-the-new-repositories.adoc
  guides/common/modules/proc_upgrading-smartproxy-server.adoc
  guides/common/modules/proc_upgrading-the-external-database-operating-system.adoc
Labels: tech review done, style review done

#4268 Change admonition about removing RH manifests
  guides/common/modules/proc_removing-red-hat-subscriptions-and-subscription-manifests.adoc
Labels: Needs tech review, Needs style review, Needs testing

#4280 Clarify wording that unlocked templates are not supported
  guides/common/modules/con_provisioning-templates.adoc
Labels: tech review done, style review done, testing done

#4291 Review PR checklist in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: style review done

#4276 Comply with DITA - Using Hammer - line breaks
  guides/common/modules/ref_activation-keys.adoc
  guides/common/modules/ref_content-life-cycles.adoc
  guides/common/modules/ref_general-information.adoc
  guides/common/modules/ref_hosts.adoc
  guides/common/modules/ref_orgs-locs-and-repos.adoc
  guides/common/modules/ref_provisioning-environments.adoc
  guides/common/modules/ref_users-and-permissions.adoc
Labels: style review done

#4302 Add links to provisioning hosts chapters
  guides/common/modules/ref_supported-virtualization-infrastructures.adoc
Labels: style review done

#4037 Add example to access global host parameters via Ansible
  guides/common/modules/proc_running-an-ansible-playbook.adoc
  guides/common/modules/ref_host-parameters-in-ansible-playbooks.adoc
  guides/doc-Managing_Configurations_Ansible/master.adoc
Labels: tech review done, style review done, Needs testing

#4297 Drop module about benchmarking disk performance
  guides/common/assembly_determining-hardware-and-operating-system-configuration.adoc
  guides/common/modules/con_determining-hardware-and-operating-system-configuration.adoc
  guides/common/modules/proc_benchmark-disk-performance.adoc
Labels: tech review done, style review done

#4310 Reword following command
  guides/common/modules/con_ansible-playbooks.adoc
  guides/common/modules/con_important-user-and-group-account-information-for-active-directory-accounts.adoc
  guides/common/modules/proc_adding-a-host-to-a-host-collection.adoc
  guides/common/modules/proc_adding-a-subnet.adoc
  guides/common/modules/proc_adding-custom-deb-repositories.adoc
  guides/common/modules/proc_adding-custom-rpm-repositories.adoc
  guides/common/modules/proc_adding-hosts-to-a-host-collection-in-bulk.adoc
  guides/common/modules/proc_adding-kvm-details-to-a-compute-profile.adoc
  guides/common/modules/proc_anonymizing-audit-records.adoc
  guides/common/modules/proc_assigning-a-puppet-class-to-an-individual-host.adoc
  guides/common/modules/proc_assigning-roles-to-a-user.adoc
  guides/common/modules/proc_authenticating-hammer-using-sessions.adoc
  guides/common/modules/proc_changing-the-http-proxy-policy-for-a-repository.adoc
  guides/common/modules/proc_configuring-custom-alternate-content-sources.adoc
  guides/common/modules/proc_configuring-external-user-groups.adoc
  guides/common/modules/proc_configuring-kerberos-authentication-for-remote-execution.adoc
  guides/common/modules/proc_configuring-project-with-an-alternate-cname.adoc
  guides/common/modules/proc_configuring-provisioning-callback-for-a-host.adoc
  guides/common/modules/proc_configuring-server-for-kvm-connections.adoc
  guides/common/modules/proc_configuring-the-fallback-to-any-smartproxy-remote-execution-setting-in-project.adoc
  guides/common/modules/proc_creating-a-complete-permission-table.adoc
  guides/common/modules/proc_creating-a-custom-product.adoc
  guides/common/modules/proc_creating-a-sync-plan.adoc
  guides/common/modules/proc_creating-a-user-group.adoc
  guides/common/modules/proc_deleting-a-location.adoc
  guides/common/modules/proc_deleting-an-organization.adoc
  guides/common/modules/proc_distributing-ssh-keys-for-remote-execution-manually.adoc
  guides/common/modules/proc_formatting-hammer-output.adoc
  guides/common/modules/proc_importing-a-repository-from-a-web-server.adoc
  guides/common/modules/proc_testing-email-notifications.adoc
  guides/common/modules/proc_uploading-content-to-custom-rpm-repositories.adoc
Labels: style review done

#4305 Update Foreman quickstart with foremanctl install steps
  guides/common/attributes-base.adoc
  guides/common/modules/proc_configuring-repositories-el.adoc
  guides/common/modules/proc_configuring-repositories-foreman-deb.adoc
  guides/common/modules/proc_running-installer.adoc
  guides/common/modules/ref_system-requirements-quickstart.adoc
  guides/common/modules/ref_system-requirements.adoc
  guides/common/modules/snip_configuring-repositories-deb.adoc
  guides/doc-Quickstart/master.adoc
Labels: tech review done, style review done, testing done

#4308 Fix power management sections per persona
  guides/common/modules/proc_configuring-a-bmc-interface.adoc
  guides/common/modules/proc_enabling-power-management-on-hosts.adoc
Labels: tech review done, style review done
