Repository theforeman/foreman-documentation, pull requests merged in 2025-05, with the labels that each got.

#3735 Add Insights prerequisite
  guides/common/modules/con_monitoring-hosts-by-using-red-hat-insights.adoc
Labels: tech review done, style review done

#3796 Avoid running katello-certs-check in most cases
  guides/common/modules/proc_configuring-remaining-smart-proxy-servers-with-custom-ssl-certificates.adoc
  guides/common/modules/proc_configuring-smart-proxy-server-with-custom-ssl-certificates-for-load-balancing-without-puppet.adoc
  guides/common/modules/proc_configuring-smart-proxy-server-with-custom-ssl-certificates-to-generate-and-sign-puppet-certificates.adoc
  guides/common/modules/proc_creating-a-custom-ssl-certificate.adoc
  guides/common/modules/proc_renewing-a-custom-ssl-certificate-on-server.adoc
  guides/common/modules/proc_renewing-a-custom-ssl-certificate-on-smart-proxy.adoc
Labels: tech review done, style review done

#3827 Drop unused file
  guides/common/modules/con_puma-workers-and-threads-recommendations.adoc
Labels: style review done

#3828 Rename "Configuring DNS, DHCP, and TFTP integration" title to "Integrating provisioning infrastructure services"
  guides/common/attributes-base.adoc
  guides/common/attributes-titles.adoc
  guides/doc-Integrating_Provisioning_Infrastructure_Services/Makefile
  guides/doc-Integrating_Provisioning_Infrastructure_Services/common
  guides/doc-Integrating_Provisioning_Infrastructure_Services/docinfo.html
  guides/doc-Integrating_Provisioning_Infrastructure_Services/docinfo.xml
  guides/doc-Integrating_Provisioning_Infrastructure_Services/images/common
  guides/doc-Integrating_Provisioning_Infrastructure_Services/master.adoc
  web/releases/3.14.json
  web/releases/nightly.json
Labels: tech review done, style review done, Needs testing

#3830 Rename guide to 'provisioning infrastructure services'
  guides/common/attributes-base.adoc
  guides/common/attributes-titles.adoc
  guides/doc-Integrating_Provisioning_Infrastructure_Services/Makefile
  guides/doc-Integrating_Provisioning_Infrastructure_Services/common
  guides/doc-Integrating_Provisioning_Infrastructure_Services/docinfo.html
  guides/doc-Integrating_Provisioning_Infrastructure_Services/docinfo.xml
  guides/doc-Integrating_Provisioning_Infrastructure_Services/images/common
  guides/doc-Integrating_Provisioning_Infrastructure_Services/master.adoc
  web/releases/nightly.json
Labels: style review done

#3715 Add note about IPv6 and proxy failing
  guides/common/modules/con_limitations-of-installation-in-an-ipv6-network.adoc
Labels: tech review done, style review done, Needs testing

#3826 Add tech preview note for multiple CV envs
  guides/common/modules/con_managing-content-view-environments.adoc
Labels: style review done

#3785 Add install procedures for IoP
  guides/common/assembly_installing-satellite-server-disconnected.adoc
  guides/common/attributes-base.adoc
  guides/common/attributes-satellite.adoc
  guides/common/modules/con_installing-and-configuring-advisor-engine.adoc
  guides/common/modules/proc_installing-advisor-engine-on-a-connected-project-context-server.adoc
  guides/common/modules/proc_installing-advisor-engine-using-import-and-export.adoc
  guides/common/modules/proc_installing-advisor-engine-with-the-project-context-iso-image.adoc
Labels: tech review done, style review done, testing done

#3834 Change guide name in navigation to lowercase
  web/releases/3.14.json
  web/releases/nightly.json
Labels: Needs tech review, Needs style review

#3825 Add workaround for IPA and AD Kerberos auth
  guides/common/modules/proc_configuring-the-active-directory-authentication-source-on-projectserver.adoc
  guides/common/modules/proc_configuring-the-freeipa-authentication-source-on-projectserver.adoc
Labels: tech review done, style review done

#3702 Add subscription central info to Managing RH subscriptions
  guides/common/assembly_managing-red-hat-subscriptions.adoc
  guides/common/modules/con_managing-red-hat-subscriptions.adoc
  guides/common/modules/proc_tracking-subscription-usage-by-using-the-subscriptions-service.adoc
Labels: tech review done, style review done, Needs testing

#3836 Fix broken links
  guides/common/modules/proc_installing-advisor-engine-on-a-connected-project-context-server.adoc
  guides/common/modules/proc_installing-advisor-engine-using-import-and-export.adoc
  guides/common/modules/proc_installing-advisor-engine-with-the-project-context-iso-image.adoc
Labels: style review done

#3816 Reword the step to reboot
  guides/common/modules/snip_steps-needs-reboot.adoc
Labels: tech review done, style review done

#3835 Add port 9090 for MQTT
  guides/common/modules/proc_configuring-a-host-to-use-the-pull-client.adoc
  guides/common/modules/ref_port-and-firewall-requirements.adoc
  guides/common/modules/ref_smart-proxy-port-and-firewall-requirements.adoc
Labels: tech review done, style review done

#3837 Properly use ifdef to hide Katello content
  guides/common/assembly_configuring-provisioning-resources.adoc
  guides/common/assembly_preparing-provisioning-content.adoc
  guides/common/modules/con_preparing-provisioning-content.adoc
  guides/common/modules/proc_preparing-a-synchronized-kickstart-repository.adoc
  guides/common/modules/ref_initialization-script-for-provisioning-examples.adoc
Labels: tech review done, style review done

#3824 Add container content note to load balancing guide
  guides/common/modules/con_registering-clients-to-the-load-balancer.adoc
Labels: tech review done, style review done

#3831 Add disaster recovery guide to 3.13
  guides/common/assembly_disaster-recovery-by-virtualizing-your-projectserver.adoc
  guides/common/assembly_disaster-recovery-for-active-and-passive-project-server-with-external-storage.adoc
  guides/common/assembly_disaster-recovery-with-active-and-passive-project-server-and-backup-and-restore.adoc
  guides/common/assembly_disaster-recovery-with-two-active-project-servers.adoc
  guides/common/assembly_preparing-for-disaster-recovery-and-recovering-from-data-loss.adoc
  guides/common/modules/con_disaster-recovery-by-virtualizing-your-projectserver.adoc
  guides/common/modules/con_disaster-recovery-for-active-and-passive-project-server-with-backup-and-restore.adoc
  guides/common/modules/con_disaster-recovery-for-active-and-passive-project-server-with-external-storage.adoc
  guides/common/modules/con_disaster-recovery-with-two-active-project-servers.adoc
  guides/common/modules/con_overview-of-recommended-disaster-recovery-plans.adoc
  guides/common/modules/con_preparing-for-disaster-recovery-and-recovering-from-data-loss.adoc
  guides/common/modules/proc_preparing-for-disaster-recovery-by-virtualizing-your-projectserver.adoc
  guides/common/modules/proc_preparing-for-disaster-recovery-with-active-and-passive-project-server-and-backup-and-restore.adoc
  guides/common/modules/proc_preparing-for-disaster-recovery-with-active-and-passive-project-server-with-external-storage.adoc
  guides/common/modules/proc_preparing-for-disaster-recovery-with-two-active-project-servers.adoc
  guides/common/modules/proc_recovering-from-disaster-by-restoring-a-vm-snapshot-of-projectserver.adoc
  guides/common/modules/proc_recovering-from-disaster-with-active-and-passive-project-server-and-backup-and-restore.adoc
  guides/common/modules/proc_recovering-from-disaster-with-active-and-passive-project-server-with-external-storage.adoc
  guides/common/modules/proc_recovering-from-disaster-with-two-active-project-servers.adoc
  guides/common/modules/ref_prerequisites-disaster-recovery-by-virtualizing-your-projectserver.adoc
  guides/common/modules/ref_prerequisites-disaster-recovery-with-active-and-passive-project-server-and-backup-and-restore.adoc
  guides/common/modules/ref_prerequisites-disaster-recovery-with-active-and-passive-project-server-and-external-storage.adoc
  guides/common/modules/ref_prerequisites-disaster-recovery-with-two-active-project-servers.adoc
  guides/common/modules/snip_disaster-recovery-hostname-cannot-change.adoc
  guides/doc-Administering_Project/master.adoc
Labels: style review done

#3845 Restore subtitle of "Integrating provisioning infrastructure services"
  guides/doc-Integrating_Provisioning_Infrastructure_Services/docinfo.xml
Labels: tech review done, style review done

#3848 Add step to enable Satellite repositories
  guides/common/modules/proc_upgrading-a-connected-project-server.adoc
Labels: tech review done, style review done

#3801 Pluralize content view to view(s)
  guides/common/modules/con_host-collections-overview.adoc
  guides/common/modules/con_managing-activation-keys.adoc
  guides/common/modules/con_restricting-hosts-access-to-content.adoc
  guides/common/modules/proc_changing-the-repository-sets-status-for-a-host-in-project.adoc
  guides/common/modules/proc_creating-an-activation-key.adoc
  guides/common/modules/proc_installing-packages-on-a-host.adoc
  guides/common/modules/proc_using-activation-keys-for-host-registration.adoc
  guides/common/modules/proc_viewing-errata-by-applicable-and-installable.adoc
  guides/common/modules/ref_best-practices-for-content-views.adoc
  guides/common/modules/ref_best-practices-for-errata.adoc
  guides/common/modules/ref_best-practices-for-patching-content-hosts.adoc
Labels: tech review done, style review done

#3849 Change part of step in procedure
  guides/common/modules/proc_upgrading-smartproxy-server.adoc
Labels: tech review done, style review done

#3833 Update postgresql command for RHEL9 for newer versions
  guides/common/modules/proc_installing-postgresql.adoc
Labels: tech review done, style review done

#3823 Treat unused modules as errors
  guides/scripts/find_unused_modules
Labels: tech review done

#3840 Remove libvirt specific text from VMware procedure
  guides/common/modules/proc_adding-a-vmware-connection-to-server.adoc
Labels: style review done, Needs tech review, Needs testing

#3852 Drop 'Using TFTP services through NAT' procedure
  guides/common/assembly_preparing-networking.adoc
  guides/common/modules/proc_using-tftp-services-through-nat.adoc
Labels: tech review done, style review done

#3838 Correct http-booting anchor
  guides/common/modules/proc_creating-hosts-with-uefi-http-boot-provisioning.adoc
Labels: Needs tech review, Needs style review, Needs testing

#3851 Remove RHEL 6 support and procedures
  guides/common/assembly_building-cloud-images.adoc
  guides/common/modules/con_scap-content-in-project.adoc
  guides/common/modules/con_smartproxy-performance-tests.adoc
  guides/common/modules/con_supported-client-architectures-for-configuration-management.adoc
  guides/common/modules/con_supported-client-architectures-for-content-management.adoc
  guides/common/modules/con_supported-client-architectures-for-host-provisioning.adoc
  guides/common/modules/proc_changing-the-method-the-bootstrap-script-uses-to-download-the-consumer-rpm.adoc
  guides/common/modules/proc_completing-the-rhel6-image.adoc
  guides/common/modules/proc_configuring-a-host-for-registration.adoc
  guides/common/modules/proc_creating-a-domain-for-a-host-during-registration.adoc
  guides/common/modules/proc_creating-custom-rhel-images.adoc
  guides/common/modules/proc_enabling-remote-execution-on-the-host.adoc
  guides/common/modules/proc_migrating-a-host-from-one-server-to-another-server.adoc
  guides/common/modules/proc_migrating-a-host-from-red-hat-network.adoc
  guides/common/modules/proc_providing-an-alternative-fqdn-for-the-host.adoc
  guides/common/modules/proc_providing-the-hosts-ip-address.adoc
  guides/common/modules/proc_registering-a-host-for-content-management-only.adoc
  guides/common/modules/proc_registering-a-host-without-puppet.adoc
  guides/common/modules/proc_registering-clients-using-the-bootstrap-script.adoc
  guides/common/modules/proc_registering-hosts-by-using-the-bootstrap-script.adoc
  guides/common/modules/snip_supported-client-operating-systems.adoc
Labels: tech review done, style review done

#3850 Add instructions to fix Publisher ACL for Salt
  guides/common/modules/proc_configuring-salt-on-project.adoc
Labels: tech review done, style review done

#3856 Make registering proxy mandatory for katello
  guides/common/modules/proc_registering-capsule-to-satellite-server.adoc
Labels: tech review done, style review done

#3853 Add a note about RHOKP in the disconnected guides
  guides/common/modules/con_red-hat-offline-knowledge-portal.adoc
  guides/doc-Installing_Server_Disconnected/master.adoc
  guides/doc-Upgrading_Project_Disconnected/master.adoc
Labels: style review done

#3846 Describe Satellite usage metrics collection
  guides/common/assembly_usage-metrics-collection-in-project.adoc
  guides/common/modules/con_overview-of-usage-metrics-collection-in-project.adoc
  guides/common/modules/con_usage-metrics-collection-in-project.adoc
  guides/common/modules/proc_disabling-the-collection-of-usage-metrics.adoc
  guides/common/modules/proc_reviewing-usage-metrics-collected-from-your-project.adoc
  guides/common/modules/ref_usage-metrics-collected-by-project.adoc
  guides/doc-Administering_Project/master.adoc
Labels: tech review done, style review done, testing done

#3855 Improve pre-upgrade documentation
  guides/common/assembly_preparing-for-project-upgrade.adoc
  guides/common/modules/con_following-the-progress-of-the-upgrade.adoc
  guides/common/modules/con_planning-project-upgrade.adoc
  guides/common/modules/con_preparing-for-project-upgrade.adoc
  guides/common/modules/con_project-server-upgrade-considerations.adoc
  guides/common/modules/con_upgrade-path-overview.adoc
  guides/common/modules/con_upgrade-paths.adoc
  guides/common/modules/con_upgrading-prerequisites.adoc
  guides/common/modules/con_upgrading-project.adoc
  guides/common/modules/con_upgrading-smartproxies-separately-from-project.adoc
  guides/common/modules/proc_upgrading-a-connected-project-server.adoc
  guides/common/modules/proc_upgrading-a-disconnected-project-server.adoc
  guides/common/modules/proc_upgrading-smartproxy-server.adoc
  guides/common/modules/snip_prerequisites-upgrading-project-server.adoc
  guides/doc-Upgrading_Project/master.adoc
  guides/doc-Upgrading_Project_Disconnected/master.adoc
Labels: tech review done, style review done

#3866 Drop upgrade step to upgrade to PostgreSQL 13
  guides/common/modules/proc_upgrading-a-connected-project-server.adoc
  guides/common/modules/proc_upgrading-a-disconnected-project-server.adoc
Labels: tech review done, style review done

#3875 add Foreman 3.15/Katello 4.17 and mark 3.14 as the Sat 6.17 base
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Needs tech review, Needs style review

#3877 Add RHEL 10 to Planning guide
  guides/common/modules/con_supported-client-architectures-for-configuration-management.adoc
  guides/common/modules/con_supported-client-architectures-for-content-management.adoc
  guides/common/modules/con_supported-client-architectures-for-host-provisioning.adoc
Labels: tech review done, style review done

#3873 Create a section for helper app references
  guides/common/assembly_preparing-environment-for-capsule-installation.adoc
  guides/common/assembly_preparing-environment-for-installation.adoc
  guides/common/modules/con_preparing-for-project-upgrade.adoc
  guides/common/modules/con_red-hat-helper-app.adoc
  guides/doc-Installing_Proxy/master.adoc
  guides/doc-Installing_Server/master.adoc
  guides/doc-Installing_Server_Disconnected/master.adoc
  guides/doc-Upgrading_Project/master.adoc
  guides/doc-Upgrading_Project_Disconnected/master.adoc
Labels: style review done

#3869 Use attribute for FreeIPA server name
  guides/common/modules/proc_enrolling-projectserver-in-freeipa-domain.adoc
Labels: style review done

#3874 clarify that it can be *any* system that can run the ansible modules
  guides/common/modules/proc_creating-a-playbook-with-modules-from-project-ansible-collection.adoc
Labels: tech review done, style review done

#3870 Deprecate oVirt in 3.15
  guides/doc-Release_Notes/topics/foreman.adoc
Labels: Needs tech review, Needs style review, Needs re-review

#3879 use `hammer flatpak-remote remote-repository list` to list contents
  guides/common/modules/proc_enabling-the-flatpak-remote.adoc
Labels: tech review done, style review done

#3890 Fix Katello version
  guides/doc-Release_Notes/topics/katello-contributors.adoc
Labels: Needs tech review

#3892 Do not require Ansible collection on orcharhino
  guides/common/modules/proc_installing-the-project-ansible-modules.adoc
Labels: tech review done

#3886 Bump Satellite version
  guides/common/attributes-satellite.adoc
  guides/common/linkchecker.ini
Labels: tech review done, style review done

#3897 Fix the binary download procedure
  guides/common/modules/proc_downloading-the-binary-dvd-images.adoc
Labels: style review done, testing done

#3898 Limit SSSD workaround to certain RHEL versions only
  guides/common/modules/proc_configuring-the-active-directory-authentication-source-on-projectserver.adoc
  guides/common/modules/proc_configuring-the-freeipa-authentication-source-on-projectserver.adoc
Labels: tech review done, style review done

#3906 Fix spelling of life cycle
  guides/common/modules/proc_integrating-route-53-dns.adoc
Labels: Needs tech review, Needs style review, Needs testing

#3903 Rename server upgrade procedure
  guides/common/modules/proc_configuring-repositories-foreman-deb.adoc
  guides/common/modules/proc_upgrading-your-project-server.adoc
  guides/common/modules/snip_upgrading-your-project-server.adoc
  guides/doc-Upgrading_Project/master.adoc
Labels: style review done

#3908 Fix spelling of hosts
  guides/common/modules/proc_integrating-route-53-dns.adoc
Labels: Needs tech review, Needs style review, Needs testing
