Repository theforeman/foreman-documentation, pull requests merged in 2025-04, with the labels that each got.

#3737 Clarify that Keycloak doesn't work with both UI and CLI
  guides/common/modules/con_configuring-sso-and-2fa-with-keycloak-quarkus-in-project.adoc
  guides/common/modules/con_configuring-sso-and-2fa-with-keycloak-wildfly-in-project.adoc
  guides/common/modules/proc_configuring-a-project-client-to-provide-hammer-cli-authentication-with-keycloak.adoc
Labels: tech review done, style review done

#3757 Move DR assembly to somewhere more prominent
  guides/doc-Administering_Project/master.adoc
Labels: style review done

#3726 Add DR scenario for multiple active server setup
  guides/common/assembly_disaster-recovery-with-two-active-project-servers.adoc
  guides/common/assembly_preparing-for-disaster-recovery-and-recovering-from-data-loss.adoc
  guides/common/modules/con_disaster-recovery-with-two-active-project-servers.adoc
  guides/common/modules/proc_preparing-for-disaster-recovery-with-two-active-project-servers.adoc
  guides/common/modules/proc_recovering-from-disaster-with-two-active-project-servers.adoc
  guides/common/modules/ref_prerequisites-disaster-recovery-with-two-active-project-servers.adoc
Labels: tech review done, style review done

#3760 Updating find_unused_modules script
  guides/scripts/find_unused_modules.py
Labels: tech review done, testing done

#3759 Drop intro about enabling two keycloak auth methods
  guides/common/modules/proc_registering-project-as-a-client-of-keycloak.adoc
Labels: style review done

#3765 Remove references to both CLI and web UI login with Keycloak
  guides/common/modules/proc_configuring-project-settings-for-keycloak-authentication-using-the-cli.adoc
  guides/common/modules/proc_registering-project-as-a-keycloak-client.adoc
Labels: tech review done, style review done

#3762 Make DR with external storage work for upstream
  guides/common/assembly_preparing-for-disaster-recovery-and-recovering-from-data-loss.adoc
  guides/common/modules/proc_preparing-for-disaster-recovery-with-active-and-passive-project-server-with-external-storage.adoc
Labels: tech review done, style review done

#3768 Fix wording for installing capsule packages
  guides/common/modules/proc_installing-proxy-packages.adoc
Labels: style review done

#3763 Tweak DR to improve wording and remove comments
  guides/common/modules/con_overview-of-recommended-disaster-recovery-plans.adoc
  guides/common/modules/proc_preparing-for-disaster-recovery-with-active-and-passive-project-server-with-external-storage.adoc
  guides/common/modules/ref_prerequisites-disaster-recovery-with-active-and-passive-project-server-and-external-storage.adoc
Labels: style review done

#3771 Fix broken links (part 6)
  guides/common/modules/con_applying-errata-to-hosts.adoc
  guides/common/modules/con_converting-a-host-to-rhel.adoc
  guides/common/modules/con_transport-modes-for-remote-execution.adoc
  guides/common/modules/proc_applying-errata-to-multiple-hosts.adoc
  guides/common/modules/proc_configuring-provisioning-callback-for-a-host.adoc
  guides/common/modules/proc_creating-a-content-view.adoc
  guides/common/modules/proc_creating-an-activation-key-to-consume-the-content-view.adoc
  guides/common/modules/proc_deploying-a-virt-who-configuration-on-target-server.adoc
  guides/common/modules/proc_distributing-ssh-keys-for-remote-execution.adoc
  guides/common/modules/proc_installing-and-configuring-puppet-agent-during-host-registration.adoc
  guides/common/modules/proc_installing-standalone-hammer.adoc
  guides/common/modules/proc_promoting-a-content-view.adoc
  guides/common/modules/proc_renaming-server.adoc
  guides/common/modules/ref_best-practices-for-patching-content-hosts.adoc
  guides/common/modules/ref_resetting-custom-ssl-certificate-to-default-self-signed-certificate-on-hosts.adoc
Labels: style review done

#3774 Bump orcharhino Clients to gen3
  guides/common/attributes-orcharhino.adoc
Labels: tech review done

#3766 Add reference to satellite installation helper
  guides/common/assembly_preparing-environment-for-capsule-installation.adoc
  guides/common/assembly_preparing-environment-for-installation.adoc
  guides/common/modules/con_upgrading-overview.adoc
  guides/common/modules/snip_red-hat-helper-apps.adoc
Labels: style review done

#3767 Declare that Satellite is translated into Korean
  guides/common/modules/ref_supported-browsers.adoc
Labels: tech review done, Needs style review

#3700 Only list required v3_req parameters in openssl.conf
  guides/common/modules/proc_creating-a-custom-ssl-certificate.adoc
Labels: tech review done, style review done

#3782 Clean up master.adoc in Planning
  guides/common/assembly_foreman-deployment-planning.adoc
  guides/common/assembly_foreman-overview-and-concepts.adoc
  guides/doc-Planning_for_Project/master.adoc
Labels: style review done

#3781 Drop unnecessary plus sign
  guides/common/modules/proc_uploading-duplicate-content.adoc
Labels: style review done

#3780 Drop procedures that use an obsolete API endpoint
  guides/common/assembly_api-cheat-sheet.adoc
  guides/common/modules/proc_applying-errata-to-a-host-collection.adoc
  guides/common/modules/proc_applying-errata-to-hosts.adoc
Labels: style review done

#3779 Update SMTP configuration for Gmail
  guides/common/modules/proc_configuring-satellite-for-outgoing-emails.adoc
Labels: tech review done, style review done

#3786 Use one sentence per line
  guides/common/modules/ref_template-macros.adoc
Labels: Needs tech review, Needs style review, Needs testing

#3775 Fix vague AK parameter instruction step
  guides/common/modules/proc_creating-hosts-on-proxmox.adoc
  guides/common/modules/proc_creating-hosts-on-vmware.adoc
  guides/common/modules/proc_creating-hosts-with-pxe-boot-provisioning.adoc
  guides/common/modules/proc_creating-hosts-with-pxeless-provisioning.adoc
  guides/common/modules/proc_creating-hosts-with-uefi-http-boot-provisioning.adoc
  guides/common/modules/proc_creating-hosts-with-unattended-provisioning.adoc
  guides/common/modules/proc_creating-image-based-hosts-on-amazon-ec2.adoc
  guides/common/modules/proc_creating-image-only-hosts.adoc
  guides/common/modules/proc_creating-network-or-image-based-hosts.adoc
  guides/common/modules/snip_step-parameter-ak.adoc
Labels: tech review done, style review done, testing done

#3790 Implement find_unused_modules in CI
  .github/workflows/unused.yml
  guides/scripts/find_unused_modules
  guides/scripts/find_unused_modules.py
Labels: Needs tech review, Needs style review, Needs testing

#3788 Use long options for curl
  guides/common/modules/proc_installing-the-infoblox-ca-certificate.adoc
Labels: style review done

#3450 Fix selection diagram based on whether Foreman manages DHCP
  guides/common/images/provisioning-method-selection.svg
  guides/image-sources/provisioning-method-selection.drawio
Labels: tech review done, style review done

#3718 Retire AWS guide
  guides/common/assembly_deployment-path.adoc
  guides/common/assembly_preparing-environment-for-installation.adoc
  guides/common/modules/con_aws-requirements.adoc
  guides/common/modules/con_deploying-foreman-on-aws.adoc
  guides/common/modules/con_deploying-project-on-aws.adoc
  guides/doc-Deploying_Project_on_AWS/master.adoc
Labels: style review done

#3814 Retire AWS guide for 3.14
  guides/common/assembly_deployment-path.adoc
  guides/common/assembly_preparing-environment-for-installation.adoc
  guides/common/modules/con_aws-requirements.adoc
  guides/common/modules/con_deploying-foreman-on-aws.adoc
  guides/common/modules/con_deploying-project-on-aws.adoc
  guides/doc-Deploying_Project_on_AWS/master.adoc
Labels: style review done

#3811 Removing obsolete RHEL conversion doc
  guides/common/attributes-satellite.adoc
  guides/common/attributes-titles.adoc
Labels: Needs style review

#3752 Clarify applying custom Puppet config
  guides/common/modules/con_applying-custom-configuration.adoc
  guides/common/modules/proc_restoring-manual-changes-overwritten-by-a-puppet-run.adoc
  guides/doc-Installing_Server/master.adoc
  guides/doc-Installing_Server_Disconnected/master.adoc
Labels: tech review done, style review done

#3803 Use dashes in file names
  guides/common/assembly_maintaining-server.adoc
  guides/common/assembly_using-kernelcare.adoc
  guides/common/modules/con_kernelcare-client.adoc
  guides/common/modules/con_smartproxy-performance-tests.adoc
  guides/common/modules/proc_cloning-satellite-server.adoc
  guides/common/modules/proc_deleting-a-task-by-id.adoc
  guides/doc-Administering_Project/master.adoc
  guides/doc-Tuning_Performance/master.adoc
Labels: style review done

#3792 Remove unused assemblies and modules
  guides/common/assembly_configuring-keycloak-wildfly-authentication-with-piv-cards-for-project.adoc
  guides/common/modules/con_configuring-keycloak-wildfly-authentication-with-piv-cards-for-project.adoc
  guides/common/modules/proc_applying-errata-to-hosts.adoc
Labels: style review done

#3795 Allow italic emphasis for host group CLI command
  guides/common/modules/proc_creating-a-host-group.adoc
Labels: style review done

#3820 Bump orcharhino version to 7.2
  .github/PULL_REQUEST_TEMPLATE.md
  guides/common/attributes-orcharhino.adoc
Labels: style review done

#3747 Modify production environment backup recommendation
  guides/common/modules/proc_performing-an-online-backup.adoc
Labels: tech review done, style review done

#3817 Remove Foreman on AWS from navigation
  web/releases/3.14.json
  web/releases/nightly.json
Labels: Needs tech review, Needs style review
